.btn, .no_select {
    -webkit-touch-callout: none;
    -webkit-user-select: none
}

*, body {
    margin: 0
}

*, legend, td, th {
    padding: 0
}

a img, img, legend {
    border: 0
}

.btn, sub, sup {
    position: relative
}

.btn:after, .form-select:after, .popup-dialog > .popup-content > .dialog-ft:before {
    content: " "
}

.bk, .form-label {
    word-wrap: break-word
}

.bd_none, .dropdown-toggle, .form-control, .form-control:active, .form-control:focus, a:active, a:focus, a:hover, button:active, button:focus, input:active, input:focus, label[for]:active, label[for]:focus, select:active, select:focus, textarea:active, textarea:focus {
    outline: 0
}

.fdr, .fdrr {
    -webkit-box-orient: horizontal
}

.aifs, .ui-cell.ui-cell-form {
    -ms-grid-row-align: flex-start
}

.ell, .header-title {
    text-overflow: ellipsis
}

.cities .cities-block .row:after, .cl, .clearfix:after, .fix:after, .projs .projs-block .row:after {
    clear: both
}

.no_select {
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none
}

.btn, .dropdown-toggle {
    text-decoration: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-tap-highlight-color: transparent
}

/*! normalize.css v3.0.3 | MIT License | github.com/necolas/normalize.css */
html {
    font-family: sans-serif;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: transparent
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
    display: block
}

audio, canvas, progress, video {
    display: inline-block;
    vertical-align: baseline
}

audio:not([controls]) {
    display: none;
    height: 0
}

[hidden], template {
    display: none
}

a {
    background-color: transparent
}

abbr[title] {
    border-bottom: 1px dotted
}

b, optgroup, strong {
    font-weight: 700
}

dfn {
    font-style: italic
}

h1 {
    font-size: 2em;
    margin: .67em 0
}

mark {
    background: #ff0;
    color: #000
}

.btn, .form-control {
    background-image: none
}

small {
    font-size: 80%
}

sub, sup {
    font-size: 75%;
    line-height: 0;
    vertical-align: baseline
}

.vm, img {
    vertical-align: middle
}

sup {
    top: -.5em
}

sub {
    bottom: -.25em
}

svg:not(:root) {
    overflow: hidden
}

figure {
    margin: 1em 40px
}

hr {
    box-sizing: content-box;
    height: 0
}

pre, textarea {
    overflow: auto
}

code, kbd, pre, samp {
    font-family: monospace, monospace;
    font-size: 1em
}

button, input, optgroup, select, textarea {
    color: inherit;
    font: inherit;
    margin: 0
}

.dropdown-caret, .n, i.fv-error {
    font-style: normal
}

button {
    overflow: visible
}

button, select {
    text-transform: none
}

button, html input[type=button], input[type=reset], input[type=submit] {
    -webkit-appearance: button;
    cursor: pointer
}

button[disabled], html input[disabled] {
    cursor: default
}

button::-moz-focus-inner, input::-moz-focus-inner {
    border: 0;
    padding: 0
}

input[type=checkbox], input[type=radio] {
    box-sizing: border-box;
    padding: 0
}

input[type=number]::-webkit-inner-spin-button, input[type=number]::-webkit-outer-spin-button {
    height: auto
}

input[type=search] {
    -webkit-appearance: textfield;
    box-sizing: content-box
}

*, .btn, .btn:after, .dropdown-toggle, :after, :before {
    box-sizing: border-box
}

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
    -webkit-appearance: none
}

fieldset {
    border: 1px solid silver;
    margin: 0 2px;
    padding: .35em .625em .75em
}

table {
    border-collapse: collapse;
    border-spacing: 0
}

body, html {
    height: 100%
}

body {
    font-family: "Helvetica Neue", Helvetica, STHeiTi, sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    color: #2f2f2f;
    background-color: #fff
}

button, input, select, textarea {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit
}

.dropdown-caret, .iconfont {
    font-family: iconfont !important;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: .2px;
    -moz-osx-font-smoothing: grayscale
}

ol, ul {
    list-style-type: none
}

a, a:visited {
    color: #31b07b;
    text-decoration: none
}

a:active {
    color: #207451;
    text-decoration: none
}

button.btn, input.btn {
    width: 100%;
    border-width: 0;
    outline: 0;
    padding-top: 0;
    padding-bottom: 0;
    -webkit-appearance: none
}

button.btn-inline, input.btn-inline {
    width: auto
}

.btn {
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    overflow: hidden;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 14px;
    line-height: 2.85714286;
    border-radius: 4px;
    user-select: none
}

.dropdown-menu > li > a, .dropdown-toggle {
    -webkit-user-select: none;
    -webkit-touch-callout: none
}

.btn:after {
    border-radius: 8px;
    width: 200%;
    height: 200%;
    position: absolute;
    top: 0;
    left: 0;
    -webkit-transform: scale(.5);
    transform: scale(.5);
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
    border-width: 1px;
    border-style: solid
}

.btn, .btn:visited {
    color: #2f2f2f;
    background-color: #fff
}

.btn:after, .btn:visited:after {
    border-color: #2f2f2f
}

.btn:active {
    color: #2f2f2f;
    background-color: #e6e6e6
}

.btn:active:after {
    border-color: #161616
}

.btn.disabled, .btn.disabled:active, .btn[disabled], .btn[disabled]:active {
    background-color: #fff
}

.btn.disabled:active:after, .btn.disabled:after, .btn[disabled]:active:after, .btn[disabled]:after {
    border-color: #494949
}

.btn-inline {
    display: inline-block
}

.form-control, .form-label {
    display: block;
    font-size: 14px
}

.form-label {
    width: 85px;
    word-break: break-all;
    line-height: 44px
}

.form-label.form-label-auto {
    width: auto
}

.form-control {
    width: 100%;
    background-color: transparent;
    -webkit-appearance: none;
    border: 0;
    height: 44px;
    padding: 12px 5px;
    line-height: 20px;
    color: #2f2f2f
}

.form-control::-moz-placeholder {
    color: #c5c5c5;
    opacity: 1
}

.form-control:-ms-input-placeholder {
    color: #c5c5c5
}

.form-control::-webkit-input-placeholder {
    color: #c5c5c5
}

.form-control::-ms-expand {
    border: 0;
    background-color: transparent
}

.btn-save, .btn-save:after {
    border-radius: 0
}

select[multiple] .form-control, select[size] .form-control, textarea.form-control {
    height: auto
}

textarea.form-control {
    resize: none
}

.form-control::-webkit-inner-spin-button, .form-control::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0
}

.form-select {
    position: relative;
    padding-right: 30px
}

.form-select.form-select-after {
    margin-right: -15px
}

.form-select:after {
    display: inline-block;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    height: 6px;
    width: 6px;
    border-width: 2px 2px 0 0;
    border-color: #C8C8CD;
    border-style: solid;
    position: absolute;
    top: 50%;
    right: 15px;
    margin-top: -3px
}

.ui-cell.ui-cell-form {
    padding-top: 0;
    padding-bottom: 0;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start
}

i.fv-error {
    color: #FF8585;
    font-size: 12px;
    display: block;
    line-height: 20px;
    padding-left: 5px
}

.required {
    color: red
}

.btn-save {
    font-size: 14px;
    line-height: 2.85714286
}

.btn-save, .btn-save:visited {
    color: #fff;
    background-color: #31b07b
}

.btn-save:after, .btn-save:visited:after {
    border-color: #31b07b
}

.btn-save:active {
    color: #fff;
    background-color: #26885f
}

.btn-save:active:after {
    border-color: #26885f
}

.btn-save.disabled, .btn-save.disabled:active, .btn-save[disabled], .btn-save[disabled]:active {
    background-color: #48cc95
}

.btn-save.disabled:active:after, .btn-save.disabled:after, .btn-save[disabled]:active:after, .btn-save[disabled]:after {
    border-color: #48cc95
}

.collapse {
    display: none
}

.collapse.in {
    display: block
}

tr.collapse.in {
    display: table-row
}

tbody.collapse.in {
    display: table-row-group
}

.collapsing {
    position: relative;
    height: 0;
    overflow: hidden;
    -webkit-transition-property: height, visibility;
    transition-property: height, visibility;
    -webkit-transition-duration: .35s;
    transition-duration: .35s;
    -webkit-transition-timing-function: ease;
    transition-timing-function: ease
}

.popup {
    position: fixed;
    display: none;
    z-index: 200;
    overflow: auto
}

.dropdown-toggle, .ovh, .ui-cells {
    overflow: hidden
}

.popup > .popup-mask {
    z-index: 1;
    position: absolute
}

.popup > .popup-content {
    position: relative;
    z-index: 2;
    background-color: #fff
}

.popup-bottom.popup > .popup-content, .popup-center.popup > .popup-content, .popup-full.popup > .popup-content, .popup-left.popup > .popup-content, .popup-right.popup > .popup-content, .popup-top.popup > .popup-content {
    position: absolute
}

.popup, .popup.popup-full > .popup-content, .popup > .popup-mask {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%
}

.popup.popup-with-mask > .popup-mask {
    background: rgba(0, 0, 0, .5)
}

.popup.popup-top > .popup-content {
    left: 0;
    top: 0;
    width: 100%
}

.popup.popup-right > .popup-content {
    right: 0;
    top: 0;
    height: 100%
}

.popup.popup-bottom > .popup-content {
    left: 0;
    bottom: 0;
    width: 100%
}

.popup.popup-left > .popup-content {
    left: 0;
    top: 0;
    height: 100%
}

.popup.popup-center > .popup-content {
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%)
}

.popup.popup-animate.popup-with-mask > .popup-mask {
    background: rgba(0, 0, 0, 0)
}

.popup.popup-animate.popup-with-mask.in > .popup-mask {
    background: rgba(0, 0, 0, .5)
}

.popup.popup-animate > .popup-content {
    -webkit-transition-duration: .3s;
    transition-duration: .3s;
    -webkit-transition-property: all;
    transition-property: all;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden
}

.popup.popup-fade.in > .popup-content {
    opacity: 1
}

.popup.popup-fade > .popup-content {
    opacity: 0
}

.popup.popup-slideDown.in > .popup-content {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0)
}

.popup.popup-slideDown > .popup-content {
    -webkit-transform: translate(0, -100%);
    transform: translate(0, -100%)
}

.popup.popup-slideUp.in > .popup-content {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0)
}

.popup.popup-slideUp > .popup-content {
    -webkit-transform: translate(0, 100%);
    transform: translate(0, 100%)
}

.popup.popup-slideRight.in > .popup-content {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0)
}

.popup.popup-slideRight > .popup-content {
    -webkit-transform: translate(-100%, 0);
    transform: translate(-100%, 0)
}

.popup.popup-slideLeft.in > .popup-content {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0)
}

.popup.popup-slideLeft > .popup-content {
    -webkit-transform: translate(100%, 0);
    transform: translate(100%, 0)
}

.popup.popup-zoomIn.in > .popup-content {
    opacity: 1;
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1)
}

.popup.popup-zoomIn > .popup-content {
    opacity: 0;
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    -webkit-transform: scale(.7, .7);
    transform: scale(.7, .7)
}

.popup.popup-zoomIn.popup-center.in > .popup-content {
    -webkit-transform: translate(-50%, -50%) scale(1, 1);
    transform: translate(-50%, -50%) scale(1, 1)
}

.popup.popup-zoomIn.popup-center > .popup-content {
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    -webkit-transform: translate(-50%, -50%) scale(.7, .7);
    transform: translate(-50%, -50%) scale(.7, .7)
}

.popup-dialog > .popup-content {
    width: 85%;
    background-color: #FAFAFC;
    text-align: center;
    border-radius: 4px;
    overflow: hidden;
    line-height: 24px
}

.popup-dialog > .popup-content > .dialog-hd {
    padding: 1.2em 0 .5em;
    color: #000;
    font-weight: 400;
    font-size: 17px
}

.popup-dialog > .popup-content > .dialog-content {
    text-align: justify;
    padding: 0 20px;
    font-size: 15px;
    color: #888;
    word-wrap: break-word;
    word-break: break-all
}

.popup-dialog > .popup-content > .dialog-ft {
    position: relative;
    line-height: 42px;
    margin-top: 20px;
    font-size: 17px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex
}

.popup-dialog > .popup-content > .dialog-ft:before {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 1px;
    border-top: 1px solid #C7C7C7;
    color: #C7C7C7;
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
    -webkit-transform: scaleY(.5);
    transform: scaleY(.5)
}

.popup-dialog > .popup-content .dialog-btn {
    position: relative;
    display: block;
    width: 50%
}

.popup-dialog > .popup-content .dialog-btn:only-child {
    width: 100%
}

.popup-dialog > .popup-content .dialog-btn:first-child:not(:only-child):after {
    content: " ";
    position: absolute;
    right: 0;
    top: 0;
    width: 1px;
    height: 100%;
    border-right: 1px solid #C7C7C7;
    color: #C7C7C7;
    -webkit-transform-origin: 100% 0;
    transform-origin: 100% 0;
    -webkit-transform: scaleX(.5);
    transform: scaleX(.5)
}

.dropdown, .dropdown-toggle {
    position: relative
}

.popup-dialog > .popup-content .dialog-btn:active {
    background-color: #eee
}

.popup-dialog > .popup-content .dialog-cancel, .popup-dialog > .popup-content .dialog-cancel:active {
    color: #353535
}

.popup-dialog > .popup-content .dialog-ok, .popup-dialog > .popup-content .dialog-ok:active {
    color: #31b07b
}

.dropdown-toggle {
    width: 100%;
    border: 1px solid;
    -webkit-appearance: none;
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    background-image: none;
    padding: 0 10px;
    font-size: 14px;
    line-height: 2.85714286;
    border-radius: 0;
    user-select: none
}

.dropdown-menu > li > a, .ui-cell {
    -moz-user-select: none;
    -ms-user-select: none
}

.dropdown-toggle, .dropdown-toggle:visited {
    color: #2f2f2f;
    background-color: #fff;
    border-color: #ebebeb
}

.dropdown-toggle:active {
    color: #2f2f2f;
    background-color: #e6e6e6;
    border-color: #dedede
}

.dropdown-caret {
    font-size: 12px
}

.dropdown-caret:before {
    content: "\e602"
}

.dropdown-menu {
    display: none;
    position: absolute;
    z-index: 100;
    top: 100%;
    left: 0;
    width: 100%;
    border: 1px solid #ebebeb;
    border-top: none;
    font-size: 14px;
    line-height: 20px;
    border-radius: 4px;
    padding: 5px 0;
    margin: 0;
    list-style: none;
    text-align: left;
    background-color: #fff;
    background-clip: padding-box
}

.dropdown-menu > li, .dropdown-menu > li > a, .open > .dropdown-menu {
    display: block
}

.dropdown-menu > li > a {
    user-select: none;
    padding: 3px 20px;
    clear: both;
    font-weight: 400;
    line-height: 20px;
    color: #2f2f2f;
    white-space: nowrap
}

.dropdown-menu > li > a:active {
    color: #2f2f2f;
    background-color: #e6e6e6
}

.dropdown-menu.dropdown-menu-scroll {
    display: block;
    height: 0;
    visibility: hidden
}

.open > .dropdown-menu.dropdown-menu-scroll {
    height: auto;
    opacity: 1;
    visibility: visible
}

.tabs, .ui-cell {
    display: -webkit-box;
    display: -ms-flexbox
}

.dropdown-backdrop {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    z-index: 90
}

.ui-cell {
    position: relative;
    padding: 10px 15px;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    background-color: #fff;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    user-select: none
}

.ui-cell + .ui-cell:not(.no-border):before, .ui-cell:first-child:not(.no-top-border):before, .ui-cell:last-child:not(.no-bottom-border):after {
    position: absolute;
    width: 100%;
    height: 1px;
    content: " "
}

.ui-cell:first-child:not(.no-top-border):before {
    left: 0;
    top: 0;
    border-top: 1px solid #c5c5c5;
    color: #c5c5c5;
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
    -webkit-transform: scaleY(.5);
    transform: scaleY(.5)
}

.ui-cell:last-child:not(.no-bottom-border):after {
    left: 0;
    bottom: 0;
    border-bottom: 1px solid #c5c5c5;
    color: #c5c5c5;
    -webkit-transform-origin: 0 100%;
    transform-origin: 0 100%;
    -webkit-transform: scaleY(.5);
    transform: scaleY(.5)
}

.ui-cell + .ui-cell:not(.no-border):before {
    top: 0;
    border-top: 1px solid #dedede;
    color: #dedede;
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
    -webkit-transform: scaleY(.5);
    transform: scaleY(.5);
    left: 15px
}

.ui-cells {
    line-height: 1.5;
    font-size: 16px
}

.ui-cells + .ui-cells {
    margin-top: 10px
}

.ui-cell-ft {
    text-align: right;
    color: #888
}

.ui-cell-bd {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1
}

.ui-cells-access .ui-cell:not(.no-access) {
    -webkit-tap-highlight-color: transparent
}

.ui-cells-access .ui-cell:not(.no-access):active {
    background-color: #e6e6e6
}

.ui-cells-access .ui-cell:not(.no-access) .ui-cell-ft:after {
    content: " ";
    display: inline-block;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    height: 10px;
    width: 10px;
    border-width: 2px 2px 0 0;
    border-color: #c5c5c5;
    border-style: solid;
    position: relative;
    top: -2px;
    top: -1px;
    margin-left: .3em
}

.ui-cells-access a.ui-cell, .ui-cells-access a.ui-cell:active {
    color: inherit
}

.clearfix:after, .clearfix:before {
    content: " ";
    display: table
}

.tabs {
    display: flex
}

.tabs > li {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: stretch;
    -ms-flex-align: stretch;
    align-items: stretch
}

.info .info-ms, .tabs > li > a {
    display: block;
    text-align: center
}

.tabs > li > a {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: #fff;
    border-bottom: 1px solid #dedede;
    font-size: 16px;
    line-height: 28px;
    padding: 8px 0
}

.tabs > li > a, .tabs > li > a:active {
    color: #7c7c7c
}

.tabs > li > a:active {
    background-color: #e6e6e6
}

.tabs > li.active > a {
    border-bottom: 3px solid #31b07b
}

.tabs > li.active > a:active {
    background-color: #fff
}

.swiper-tab-content .swiper-slide {
    padding: 15px 10px
}

.circle {
    border-radius: 100%
}

.info {
    position: fixed;
    top: 0;
    height: 40px;
    text-align: center;
    width: 100%;
    opacity: 0;
    visibility: hidden;
    z-index: -2000
}

.info.active {
    opacity: 1;
    visibility: visible;
    z-index: 2000
}

.info .info-ms {
    height: 40px;
    line-height: 40px;
    font-size: 14px
}

.success.info .info-ms {
    background-color: #31b07b;
    color: #fff
}

.fail.info .info-ms {
    background-color: #FF8585;
    color: #fff
}

.popup-loading .popup-content {
    width: 7.6em;
    min-height: 7.6em;
    background: rgba(40, 40, 40, .75);
    text-align: center;
    border-radius: 5px;
    color: #FFF
}

.popup-loading .loading-text {
    margin: 64% 0 15px
}

.popup-loading .loading-icon {
    position: absolute;
    width: 0;
    z-index: 2;
    left: 50%;
    top: 38%
}

.popup-loading .loading-icon-leaf {
    position: absolute;
    top: -1px;
    opacity: .25
}

.popup-loading .loading-icon-leaf:before {
    content: " ";
    position: absolute;
    width: 8px;
    height: 2px;
    background: #d1d1d5;
    box-shadow: rgba(0, 0, 0, .0980392) 0 0 1px;
    border-radius: 1px;
    -webkit-transform-origin: left 50% 0;
    transform-origin: left 50% 0
}

.popup-loading .loading-icon-leaf_0 {
    -webkit-animation: opacity-60-25-0-12 1.25s linear infinite;
    animation: opacity-60-25-0-12 1.25s linear infinite
}

.popup-loading .loading-icon-leaf_0:before {
    -webkit-transform: rotate(0) translate(7.92px, 0);
    transform: rotate(0) translate(7.92px, 0)
}

.popup-loading .loading-icon-leaf_1 {
    -webkit-animation: opacity-60-25-1-12 1.25s linear infinite;
    animation: opacity-60-25-1-12 1.25s linear infinite
}

.popup-loading .loading-icon-leaf_1:before {
    -webkit-transform: rotate(30deg) translate(7.92px, 0);
    transform: rotate(30deg) translate(7.92px, 0)
}

.popup-loading .loading-icon-leaf_2 {
    -webkit-animation: opacity-60-25-2-12 1.25s linear infinite;
    animation: opacity-60-25-2-12 1.25s linear infinite
}

.popup-loading .loading-icon-leaf_2:before {
    -webkit-transform: rotate(60deg) translate(7.92px, 0);
    transform: rotate(60deg) translate(7.92px, 0)
}

.popup-loading .loading-icon-leaf_3 {
    -webkit-animation: opacity-60-25-3-12 1.25s linear infinite;
    animation: opacity-60-25-3-12 1.25s linear infinite
}

.popup-loading .loading-icon-leaf_3:before {
    -webkit-transform: rotate(90deg) translate(7.92px, 0);
    transform: rotate(90deg) translate(7.92px, 0)
}

.popup-loading .loading-icon-leaf_4 {
    -webkit-animation: opacity-60-25-4-12 1.25s linear infinite;
    animation: opacity-60-25-4-12 1.25s linear infinite
}

.popup-loading .loading-icon-leaf_4:before {
    -webkit-transform: rotate(120deg) translate(7.92px, 0);
    transform: rotate(120deg) translate(7.92px, 0)
}

.popup-loading .loading-icon-leaf_5 {
    -webkit-animation: opacity-60-25-5-12 1.25s linear infinite;
    animation: opacity-60-25-5-12 1.25s linear infinite
}

.popup-loading .loading-icon-leaf_5:before {
    -webkit-transform: rotate(150deg) translate(7.92px, 0);
    transform: rotate(150deg) translate(7.92px, 0)
}

.popup-loading .loading-icon-leaf_6 {
    -webkit-animation: opacity-60-25-6-12 1.25s linear infinite;
    animation: opacity-60-25-6-12 1.25s linear infinite
}

.popup-loading .loading-icon-leaf_6:before {
    -webkit-transform: rotate(180deg) translate(7.92px, 0);
    transform: rotate(180deg) translate(7.92px, 0)
}

.popup-loading .loading-icon-leaf_7 {
    -webkit-animation: opacity-60-25-7-12 1.25s linear infinite;
    animation: opacity-60-25-7-12 1.25s linear infinite
}

.popup-loading .loading-icon-leaf_7:before {
    -webkit-transform: rotate(210deg) translate(7.92px, 0);
    transform: rotate(210deg) translate(7.92px, 0)
}

.popup-loading .loading-icon-leaf_8 {
    -webkit-animation: opacity-60-25-8-12 1.25s linear infinite;
    animation: opacity-60-25-8-12 1.25s linear infinite
}

.popup-loading .loading-icon-leaf_8:before {
    -webkit-transform: rotate(240deg) translate(7.92px, 0);
    transform: rotate(240deg) translate(7.92px, 0)
}

.popup-loading .loading-icon-leaf_9 {
    -webkit-animation: opacity-60-25-9-12 1.25s linear infinite;
    animation: opacity-60-25-9-12 1.25s linear infinite
}

.popup-loading .loading-icon-leaf_9:before {
    -webkit-transform: rotate(270deg) translate(7.92px, 0);
    transform: rotate(270deg) translate(7.92px, 0)
}

.popup-loading .loading-icon-leaf_10 {
    -webkit-animation: opacity-60-25-10-12 1.25s linear infinite;
    animation: opacity-60-25-10-12 1.25s linear infinite
}

.popup-loading .loading-icon-leaf_10:before {
    -webkit-transform: rotate(300deg) translate(7.92px, 0);
    transform: rotate(300deg) translate(7.92px, 0)
}

.popup-loading .loading-icon-leaf_11 {
    -webkit-animation: opacity-60-25-11-12 1.25s linear infinite;
    animation: opacity-60-25-11-12 1.25s linear infinite
}

.popup-loading .loading-icon-leaf_11:before {
    -webkit-transform: rotate(330deg) translate(7.92px, 0);
    transform: rotate(330deg) translate(7.92px, 0)
}

@-webkit-keyframes opacity-60-25-0-12 {
    0%, 0.01% {
        opacity: .25
    }
    0.02% {
        opacity: 1
    }
    100%, 60.01% {
        opacity: .25
    }
}

@-webkit-keyframes opacity-60-25-1-12 {
    0%, 8.34333% {
        opacity: .25
    }
    8.35333% {
        opacity: 1
    }
    100%, 68.3433% {
        opacity: .25
    }
}

@-webkit-keyframes opacity-60-25-2-12 {
    0%, 16.6767% {
        opacity: .25
    }
    16.6867% {
        opacity: 1
    }
    100%, 76.6767% {
        opacity: .25
    }
}

@-webkit-keyframes opacity-60-25-3-12 {
    0%, 25.01% {
        opacity: .25
    }
    25.02% {
        opacity: 1
    }
    100%, 85.01% {
        opacity: .25
    }
}

@-webkit-keyframes opacity-60-25-4-12 {
    0%, 33.3433% {
        opacity: .25
    }
    33.3533% {
        opacity: 1
    }
    100%, 93.3433% {
        opacity: .25
    }
}

@-webkit-keyframes opacity-60-25-5-12 {
    0% {
        opacity: .270958333333333
    }
    41.6767% {
        opacity: .25
    }
    41.6867% {
        opacity: 1
    }
    1.67667% {
        opacity: .25
    }
    100% {
        opacity: .270958333333333
    }
}

@-webkit-keyframes opacity-60-25-6-12 {
    0% {
        opacity: .375125
    }
    50.01% {
        opacity: .25
    }
    50.02% {
        opacity: 1
    }
    10.01% {
        opacity: .25
    }
    100% {
        opacity: .375125
    }
}

@-webkit-keyframes opacity-60-25-7-12 {
    0% {
        opacity: .479291666666667
    }
    58.3433% {
        opacity: .25
    }
    58.3533% {
        opacity: 1
    }
    18.3433% {
        opacity: .25
    }
    100% {
        opacity: .479291666666667
    }
}

@-webkit-keyframes opacity-60-25-8-12 {
    0% {
        opacity: .583458333333333
    }
    66.6767% {
        opacity: .25
    }
    66.6867% {
        opacity: 1
    }
    26.6767% {
        opacity: .25
    }
    100% {
        opacity: .583458333333333
    }
}

@-webkit-keyframes opacity-60-25-9-12 {
    0% {
        opacity: .687625
    }
    75.01% {
        opacity: .25
    }
    75.02% {
        opacity: 1
    }
    35.01% {
        opacity: .25
    }
    100% {
        opacity: .687625
    }
}

@-webkit-keyframes opacity-60-25-10-12 {
    0% {
        opacity: .791791666666667
    }
    83.3433% {
        opacity: .25
    }
    83.3533% {
        opacity: 1
    }
    43.3433% {
        opacity: .25
    }
    100% {
        opacity: .791791666666667
    }
}

@-webkit-keyframes opacity-60-25-11-12 {
    0% {
        opacity: .895958333333333
    }
    91.6767% {
        opacity: .25
    }
    91.6867% {
        opacity: 1
    }
    51.6767% {
        opacity: .25
    }
    100% {
        opacity: .895958333333333
    }
}

.affix {
    position: fixed
}

.dn {
    display: none
}

.di {
    display: inline
}

.db {
    display: block
}

.dib {
    display: inline-block
}

.n {
    font-weight: 400;
    white-space: normal
}

.ell, .header-title, .nowrap {
    white-space: nowrap
}

.b {
    font-weight: 700
}

.i {
    font-style: italic
}

.tc {
    text-align: center
}

.tr {
    text-align: right
}

.tl {
    text-align: left
}

.tj {
    text-align: justify
}

.acts, .cities, .comments, .header-title, .nav-menu > li > a, .projs, .service, .swiper-pagination {
    text-align: center
}

.tdl {
    text-decoration: underline
}

.tdn, .tdn a:hover, .tdn:hover, a.tdl:hover {
    text-decoration: none
}

.lt-1 {
    letter-spacing: -1px
}

.lt0 {
    letter-spacing: 0
}

.lt1 {
    letter-spacing: 1px
}

.lt1p2 {
    letter-spacing: 1.2px
}

.vtb {
    vertical-align: text-bottom
}

.vb {
    vertical-align: bottom
}

.vt {
    vertical-align: top
}

.v-1 {
    vertical-align: -1px
}

.v-2 {
    vertical-align: -2px
}

.v-3 {
    vertical-align: -3px
}

.v-4 {
    vertical-align: -4px
}

.v-5 {
    vertical-align: -5px
}

.l {
    float: left
}

.r {
    float: right
}

.float_five, .float_four, .float_six, .float_three, .float_two, .nav-brand {
    float: left
}

.rel {
    position: relative
}

.abs, .abs_clip, .abs_out, .p-header {
    position: absolute
}

.top0 {
    top: 0
}

.left0 {
    left: 0
}

.zx1 {
    z-index: 1
}

.zx2 {
    z-index: 2
}

.poi {
    cursor: pointer
}

.def {
    cursor: default
}

.ova {
    overflow: auto
}

.cell2, .ell, .header-title, .inline_fix {
    overflow: hidden
}

.vh {
    visibility: hidden
}

.vv {
    visibility: visible
}

.opa0 {
    opacity: 0
}

.auto {
    margin-left: auto;
    margin-right: auto
}

.fix:after {
    display: table;
    content: ''
}

.cell {
    display: table-cell;
    width: 2000px
}

.dib_vm, .inline_fix {
    display: inline-block
}

.trans {
    -webkit-transition: all .15s;
    transition: all .15s
}

.dib_vm {
    width: 0;
    height: 100%;
    vertical-align: middle
}

.bd_none {
    border: 0
}

.abs_out {
    left: -999em;
    top: -999em
}

.abs_clip {
    clip: rect(0 0 0 0)
}

.inline_box {
    font-size: 1em;
    letter-spacing: -.25em;
    font-family: Arial
}

.inline_any, .inline_five, .inline_four, .inline_six, .inline_three, .inline_two {
    display: inline-block;
    letter-spacing: 0;
    vertical-align: top
}

.float_two, .inline_two {
    width: 50%
}

.float_three, .inline_three {
    width: 33.33333%
}

.float_four, .inline_four {
    width: 25%
}

.float_five, .inline_five {
    width: 20%
}

.float_six, .inline_six {
    width: 16.66666%
}

.inline_fix {
    width: 100%;
    height: 0
}

.b-book-bar, .df {
    display: -webkit-box;
    display: -ms-flexbox
}

.bdc {
    border: 1px solid #ccc
}

.blc {
    border-left: 1px solid #ccc
}

.brc {
    border-right: 1px solid #ccc
}

.btc {
    border-top: 1px solid #ccc
}

.bbc {
    border-bottom: 1px solid #ccc
}

.bdd {
    border: 1px solid #ddd
}

.bld {
    border-left: 1px solid #ddd
}

.brd {
    border-right: 1px solid #ddd
}

.btd {
    border-top: 1px solid #ddd
}

.bbd {
    border-bottom: 1px solid #ddd
}

.bde {
    border: 1px solid #eee
}

.ble {
    border-left: 1px solid #eee
}

.bre {
    border-right: 1px solid #eee
}

.bte {
    border-top: 1px solid #eee
}

.bbe {
    border-bottom: 1px solid #eee
}

.bgwh {
    background-color: #fff
}

.bgfb {
    background-color: #fbfbfb
}

.bgf5 {
    background-color: #f5f5f5
}

.bgf0 {
    background-color: #f0f0f0
}

.bgeb {
    background-color: #ebebeb
}

.bge0 {
    background-color: #e0e0e0
}

.bg313136 {
    background-color: #313136
}

.bg26 {
    background-color: #262626
}

.g0 {
    color: #000
}

.g3 {
    color: #333
}

.g6 {
    color: #666
}

.g9 {
    color: #999
}

.gc {
    color: #ccc
}

.wh {
    color: #fff
}

.bl {
    color: #000
}

.c47 {
    color: #474747
}

.c26 {
    color: #262626
}

.c7c {
    color: #7c7c7c
}

.cbf {
    color: #bfbfbf
}

.f0 {
    font-size: 0
}

.f12 {
    font-size: 12px
}

.f13 {
    font-size: 13px
}

.f14, .iconfont {
    font-size: 14px
}

.f16 {
    font-size: 16px
}

.f18 {
    font-size: 18px
}

.f20 {
    font-size: 20px
}

.f24 {
    font-size: 24px
}

.f28 {
    font-size: 28px
}

.fw600 {
    font-weight: 600
}

.h0 {
    height: 0
}

.h16 {
    height: 16px
}

.h18 {
    height: 18px
}

.h20 {
    height: 20px
}

.h22 {
    height: 22px
}

.h24 {
    height: 24px
}

.h30 {
    height: 30px
}

.lh0 {
    line-height: 0
}

.lh16 {
    line-height: 16px
}

.lh18 {
    line-height: 18px
}

.lh20 {
    line-height: 20px
}

.lh22 {
    line-height: 22px
}

.lh24 {
    line-height: 24px
}

.lh26 {
    line-height: 26px
}

.lh28 {
    line-height: 28px
}

.lh30 {
    line-height: 30px
}

.lh36 {
    line-height: 36px
}

.lh44 {
    line-height: 44px
}

.m0 {
    margin: 0
}

.ml1 {
    margin-left: 1px
}

.ml2 {
    margin-left: 2px
}

.ml5 {
    margin-left: 5px
}

.ml10 {
    margin-left: 10px
}

.ml15 {
    margin-left: 15px
}

.ml20 {
    margin-left: 20px
}

.ml30 {
    margin-left: 30px
}

.mr1 {
    margin-right: 1px
}

.mr2 {
    margin-right: 2px
}

.mr5 {
    margin-right: 5px
}

.mr8 {
    margin-right: 8px
}

.mr10 {
    margin-right: 10px
}

.mr15 {
    margin-right: 15px
}

.mr20 {
    margin-right: 20px
}

.mr30 {
    margin-right: 30px
}

.mt1 {
    margin-top: 1px
}

.mt2 {
    margin-top: 2px
}

.mt5 {
    margin-top: 5px
}

.mt9 {
    margin-top: 9px
}

.mt10 {
    margin-top: 10px
}

.mt14 {
    margin-top: 14px
}

.mt15 {
    margin-top: 15px
}

.mt20 {
    margin-top: 20px
}

.mt30 {
    margin-top: 30px
}

.mt40 {
    margin-top: 40px
}

.mb1 {
    margin-bottom: 1px
}

.mb2 {
    margin-bottom: 2px
}

.mb4 {
    margin-bottom: 4px
}

.mb5 {
    margin-bottom: 5px
}

.mb8 {
    margin-bottom: 8px
}

.mb10 {
    margin-bottom: 10px
}

.mb15 {
    margin-bottom: 15px
}

.mb20 {
    margin-bottom: 20px
}

.mb30 {
    margin-bottom: 30px
}

.mb40 {
    margin-bottom: 40px
}

.ml-1 {
    margin-left: -1px
}

.mr-1 {
    margin-right: -1px
}

.mt-1 {
    margin-top: -1px
}

.mb-1 {
    margin-bottom: -1px
}

.ml-3 {
    margin-left: -3px
}

.mr-3 {
    margin-right: -3px
}

.mt-3 {
    margin-top: -3px
}

.mb-3 {
    margin-bottom: -3px
}

.ml-20 {
    margin-left: -20px
}

.mr-20 {
    margin-right: -20px
}

.mt-20 {
    margin-top: -20px
}

.mb-20 {
    margin-bottom: -20px
}

.p0 {
    padding: 0
}

.pt0 {
    padding-top: 0
}

.pr0 {
    padding-right: 0
}

.pl0 {
    padding-left: 0
}

.pb0 {
    padding-bottom: 0
}

.p1 {
    padding: 1px
}

.pl1 {
    padding-left: 1px
}

.pt1 {
    padding-top: 1px
}

.pr1 {
    padding-right: 1px
}

.pb1 {
    padding-bottom: 1px
}

.p2 {
    padding: 2px
}

.pl2 {
    padding-left: 2px
}

.pt2 {
    padding-top: 2px
}

.pr2 {
    padding-right: 2px
}

.pb2 {
    padding-bottom: 2px
}

.pl5 {
    padding-left: 5px
}

.p5 {
    padding: 5px
}

.pt5 {
    padding-top: 5px
}

.pr5 {
    padding-right: 5px
}

.pb5 {
    padding-bottom: 5px
}

.p10 {
    padding: 10px
}

.pl10 {
    padding-left: 10px
}

.pl16 {
    padding-left: 16px
}

.pt10 {
    padding-top: 10px
}

.pt_p100 {
    padding-top: 100%
}

.pr10 {
    padding-right: 10px
}

.pr16 {
    padding-right: 16px
}

.pb10 {
    padding-bottom: 10px
}

.p15 {
    padding: 15px
}

.pl15 {
    padding-left: 15px
}

.pt15 {
    padding-top: 15px
}

.pr15 {
    padding-right: 15px
}

.pb15 {
    padding-bottom: 15px
}

.p20 {
    padding: 20px
}

.pl20 {
    padding-left: 20px
}

.pt20 {
    padding-top: 20px
}

.pr20 {
    padding-right: 20px
}

.pb20 {
    padding-bottom: 20px
}

.p30 {
    padding: 30px
}

.pl30 {
    padding-left: 30px
}

.pt30 {
    padding-top: 30px
}

.pr30 {
    padding-right: 30px
}

.pb30 {
    padding-bottom: 30px
}

.w10 {
    width: 10px
}

.w20 {
    width: 20px
}

.w30 {
    width: 30px
}

.w50 {
    width: 50px
}

.w90 {
    width: 90px
}

.w100 {
    width: 100px
}

.w120 {
    width: 120px
}

.w140 {
    width: 140px
}

.w160 {
    width: 160px
}

.w180 {
    width: 180px
}

.w200 {
    width: 200px
}

.w220 {
    width: 220px
}

.w250 {
    width: 250px
}

.w280 {
    width: 280px
}

.w300 {
    width: 300px
}

.w320 {
    width: 320px
}

.w360 {
    width: 360px
}

.w400 {
    width: 400px
}

.w460 {
    width: 460px
}

.w500 {
    width: 500px
}

.w600 {
    width: 600px
}

.w640 {
    width: 640px
}

.w700 {
    width: 700px
}

.pct10 {
    width: 10%
}

.pct15 {
    width: 15%
}

.pct20 {
    width: 20%
}

.pct25 {
    width: 25%
}

.pct30 {
    width: 30%
}

.pct33 {
    width: 33.3333%
}

.pct40 {
    width: 40%
}

.pct50 {
    width: 50%
}

.pct60 {
    width: 60%
}

.pct66 {
    width: 66.6666%
}

.pct70 {
    width: 70%
}

.pct75 {
    width: 75%
}

.pct80 {
    width: 80%
}

.pct90 {
    width: 90%
}

.p-header, .pct100 {
    width: 100%
}

.df {
    display: flex
}

.dif {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex
}

.fdr {
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row
}

.fdrr {
    -webkit-box-direction: reverse;
    -ms-flex-direction: row-reverse;
    flex-direction: row-reverse
}

.fdc, .fdcr {
    -webkit-box-orient: vertical
}

.fdc {
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column
}

.fdcr {
    -webkit-box-direction: reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse
}

.fwn {
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap
}

.fww {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap
}

.fwr {
    -ms-flex-wrap: wrap-reverse;
    flex-wrap: wrap-reverse
}

.jcfs {
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start
}

.jcfe {
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end
}

.jcc {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center
}

.jcsb {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between
}

.jcsa {
    -ms-flex-pack: distribute;
    justify-content: space-around
}

.aifs {
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start
}

.aife {
    -webkit-box-align: end;
    -ms-flex-align: end;
    -ms-grid-row-align: flex-end;
    align-items: flex-end
}

.aic {
    -webkit-box-align: center;
    -ms-flex-align: center;
    -ms-grid-row-align: center;
    align-items: center
}

.aib {
    -webkit-box-align: baseline;
    -ms-flex-align: baseline;
    -ms-grid-row-align: baseline;
    align-items: baseline
}

.ais {
    -webkit-box-align: stretch;
    -ms-flex-align: stretch;
    -ms-grid-row-align: stretch;
    align-items: stretch
}

.acfs {
    -ms-flex-line-pack: start;
    align-content: flex-start
}

.acfe {
    -ms-flex-line-pack: end;
    align-content: flex-end
}

.acc {
    -ms-flex-line-pack: center;
    align-content: center
}

.acsb {
    -ms-flex-line-pack: justify;
    align-content: space-between
}

.acsa {
    -ms-flex-line-pack: distribute;
    align-content: space-around
}

.acs {
    -ms-flex-line-pack: stretch;
    align-content: stretch
}

.fxa {
    -webkit-box-flex: 1;
    -ms-flex: auto;
    flex: auto
}

.fxn {
    -webkit-box-flex: 0;
    -ms-flex: none;
    flex: none
}

.fx1 {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1
}

.fx2 {
    -webkit-box-flex: 2;
    -ms-flex: 2;
    flex: 2
}

.fx3 {
    -webkit-box-flex: 3;
    -ms-flex: 3;
    flex: 3
}

.fx4 {
    -webkit-box-flex: 4;
    -ms-flex: 4;
    flex: 4
}

.fx5 {
    -webkit-box-flex: 5;
    -ms-flex: 5;
    flex: 5
}

.fx6 {
    -webkit-box-flex: 6;
    -ms-flex: 6;
    flex: 6
}