@import "../_variables";
@import "../widget/reset";
@import "../widget/swiper";
@import "../widget/button";
@import "../_mixin";

@brand-primary: #14c38c;
@base-size: 75px;

body {
  overflow: hidden;
}

.full_bg {
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 100% 100%;
}

.full_screen {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.msg {
  position: absolute;
  top: 20%;
  left: 50%;
  z-index: 10;
  backface-visibility: hidden;
  transform:  translate(-50%,-50%) scale(2);
  opacity: 0;
  padding: 20rem/@base-size 30rem/@base-size;
  background-color: rgba(red(@brand-primary), green(@brand-primary), blue(@brand-primary), .8);
  transform-origin: center center;
  color: #fff;
  border-radius: 6rem/@base-size;
  .flexible-font-size(14px, 30px, 46px);

  &.msg_show {
    transition: all .3s;
    opacity: 1;
    transform:  translate(-50%,-50%) scale(1);
  }
}

.form_success {
  display: none;
}

.bgm_icon {
  z-index: 9;
  position: absolute;
  width: 60rem/@base-size;
  height: 60rem/@base-size;
  right: .4rem;
  top: .4rem;
  opacity: 0;

  background-image: url(http://o7gow40er.bkt.clouddn.com/bgm_icon.svg);
  background-size: 100% 100%;
  background-position: center center;

  &.show {
    opacity: 1;
  }

  &.animate {
    animation-name: rotate360;
    animation-duration: 2s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
  }
}

.pos_center {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}

.main {
  backface-visibility: hidden;
  transform: translate3D(0, 100%, 0);
  transition: transform .3s;

  &.in {
    transform: translate3D(0, 0, 0);
  }
}

.loader_wrap {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #000;
}

.loader {
  width: 140rem/@base-size;
  height: 140rem/@base-size;
  position: relative;

  .loader_bg {
    width: 140rem/@base-size;
    height: 140rem/@base-size;
    animation: rotate360 3s linear 0s infinite normal forwards;
  }

  .progress-value {
    position: absolute;
    left: 0;
    top: 0;
    width: 140rem/@base-size;
    height: 140rem/@base-size;
    line-height: 140rem/@base-size;
    text-align: center;
    color: @brand-primary;

    .flexible-font-size(14px, 30px, 46px);
  }
}

.star_layer {

  .star {
    position: absolute;
    width: 160rem / 2 /@base-size;
    opacity: 0;

    .main_init & {
      animation-name: liuxing;
      animation-duration: 5s;
      animation-fill-mode: both;
      animation-timing-function: linear;
      animation-iteration-count: infinite;
    }

    > img {
      width: 100%;
      height: auto;
    }
  }

  .star_1 {
    top: 10rem/@base-size;
    left: 200rem/@base-size;
  }
  .star_2 {
    top: 50rem/@base-size;
    left: 350rem/@base-size;
    animation-delay: 1s;
  }
  .star_3 {
    top: 300rem/@base-size;
    left: 500rem/@base-size;
    animation-delay: 2s;
  }
  .star_4 {
    top: 500rem/@base-size;
    left: 600rem/@base-size;
    animation-delay: 1s;
  }

  .star_5 {
    top: 50rem/@base-size;
    left: 550rem/@base-size;
    animation-delay: 3s;
  }

  .star_6 {
    top: 550rem/@base-size;
    left: 750rem/@base-size;
    animation-delay: 4s;
  }
}

@keyframes liuxing {
  0% {
    transform: translate(0, 0);
    opacity: 0;
  }

  1% {
    opacity: 1;
  }

  100% {
    transform: translate(-500%, 500%);
    opacity: 0
  }
}

.circle_bg_layer {
  top: 56rem/@base-size;

  .circle {
    padding-top: 100%;
    background-color: rgba(red(@brand-primary), green(@brand-primary), blue(@brand-primary), .12);
    border-radius: 50%;
  }

  .circle_1_wrap {
    position: absolute;
    width: 540rem/@base-size;
    top: 10rem/@base-size;
    left: -40rem/@base-size;

    opacity: 0;
    .swiper-slide-active & {
      animation-name: fadeIn;
      animation-duration: .6s;
      animation-timing-function: linear;
      animation-fill-mode: both;
    }
  }

  .circle_2_wrap {
    position: absolute;
    width: 232rem/@base-size;
    top: 0;
    right: 0;

    opacity: 0;
    .swiper-slide-active & {
      animation-name: fadeIn;
      animation-duration: .6s;
      animation-delay: .6s;
      animation-timing-function: linear;
      animation-fill-mode: both;
    }
  }

  .circle_3_wrap {
    position: absolute;
    width: 380rem/@base-size;
    top: 506rem/@base-size;
    right: -10rem/@base-size;

    opacity: 0;
    .swiper-slide-active & {
      animation-name: fadeIn;
      animation-duration: .6s;
      animation-delay: 1.2s;
      animation-timing-function: linear;
      animation-fill-mode: both;
    }
  }
}

.auto {
  margin-left: auto;
  margin-right: auto;
}

.fix {
  *zoom: 1;
}

.fix:after {
  display: table;
  content: '';
  clear: both;
}

.l {
  float: left;
}

.r {
  float: right;
}

.btn_play_wrap {
  width: 136rem/@base-size;
  height: 136rem/@base-size;
  padding: 11.2rem/@base-size;
  margin-top: 100rem/@base-size;
  opacity: 0;

  border: 4rem/@base-size solid @brand-primary;
  border-radius: 50%;

  .btn {
    &.btn_play_video {
      width: 108rem/@base-size;
      height: 108rem/@base-size;
      background-color: transparent;
      &:after {
        display: none;
      }
    }
  }
}

.btn_play_text {
  text-align: center;
  .flexible-font-size(14px, 28px, 42px);
  color: #14c38c;
  text-shadow: 0 0 6rem/@base-size;
  margin-top: 10rem/@base-size;
  opacity: 0;
  display: none;

  .swiper-slide-active & {
    animation-name: fadeIn;
    animation-duration: .6s;
    animation-delay: 3s;
    animation-timing-function: linear;
    animation-fill-mode: both;
    animation-iteration-count: 1;
  }
}

@keyframes zhiwen {
  0%, 100% {
    box-shadow: 0 0 14px #14c38c;
  }

  50% {
    box-shadow: 0 0 3px #14c38c;
  }
}

.flash_wrap {
  position: relative;

  .flash {
    position: absolute;
  }

  .flash_1 {
    width: 320rem/@base-size;
    top: -50rem/@base-size;
    opacity: 0;
  }

  .flash_2 {
    width: 340rem/@base-size;
    top: -68rem/@base-size;
    opacity: 0;
  }
}

@keyframes flashLeft {
  0% {
    left: 100%;
    opacity: 0;
  }

  50% {
    opacity: 1;
  }

  100% {
    left: -100%;
    opacity: 0;
  }
}

@keyframes flashRight {
  0% {
    right: 100%;
    opacity: 0;
  }

  50% {
    opacity: 1;
  }

  100% {
    right: -100%;
    opacity: 0;
  }
}

.page_item {
  opacity: 0;

  > img {
    width: 100%;
    height: auto;
  }
}

.page_1 {

  .page_item_wrap {
    margin-top: 120rem/@base-size;
  }

  .item_1 {
    width: 640rem/@base-size;

    .swiper-slide-active& {
      animation-name: zoomIn;
      animation-duration: .6s;
      animation-timing-function: linear;
      animation-fill-mode: both;
      animation-delay: 1.8s;
    }
  }

  .item_2 {
    margin-top: 100rem/@base-size;
    width: 176rem/@base-size;

    .swiper-slide-active& {
      animation-name: fadeIn;
      animation-duration: .6s;
      animation-delay: 2.4s;
      animation-timing-function: linear;
      animation-fill-mode: both;
    }
  }

  .item_3 {
    margin-top: 20rem/@base-size;
    width: 246rem/@base-size;

    .swiper-slide-active& {
      animation-name: fadeIn;
      animation-duration: .6s;
      animation-delay: 2.4s;
      animation-timing-function: linear;
      animation-fill-mode: both;
    }
  }

  .btn_play_wrap {
    .swiper-slide-active& {
      animation-name: fadeIn, zhiwen;
      animation-duration: .6s, 1.5s;
      animation-delay: 3s, 3s;
      animation-timing-function: linear;
      animation-fill-mode: both;
      animation-iteration-count: 1, infinite;
    }
  }
}

.slide_arrow {
  position: absolute;
  width: 100%;
  bottom: 30rem/@base-size;

  .swiper-slide-active & {
    animation-name: slide_arrow;
    animation-duration: 2s;
    animation-iteration-count: infinite;
  }

  .caret {
    position: relative;
    width: 60rem/@base-size;
    height: 28rem/@base-size;

    &:before, &:after {
      content: '';
      top: 0;
      width: 30rem/@base-size;
      position: absolute;
      height: 2rem/@base-size;
      background-color: @brand-primary;
    }

    &:before {
      left: 0;
      transform-origin: right top;
      transform: rotate(-45deg);
    }

    &:after {
      right: 0;
      transform-origin: left top;
      transform: rotate(45deg);
    }
  }

  .line {
    width: 24rem/@base-size;
    height: 2rem/@base-size;
    background-color: @brand-primary;

    & + .line {
      margin-top: 6rem/@base-size;
    }
  }
}

.page_2 {

  .page_item_wrap {
    margin-top: 64rem/@base-size;
  }

  .item_1 {
    width: 476rem/@base-size;

    .flash_2 {
      right: 100%;
      top: -10%;
    }

    .flash_1 {
      right: 100%;
      top: 1%;
    }

    .swiper-slide-active& {
      animation-name: zoomIn;
      animation-duration: .6s;
      animation-delay: .3s;
      animation-timing-function: linear;
      animation-fill-mode: both;

      .flash_1 {
        animation-name: flashRight;
        animation-duration: .8s;
        animation-delay: 2.7s;
        animation-timing-function: linear;
        animation-fill-mode: both;
      }

      .flash_2 {
        animation-name: flashRight;
        animation-duration: .8s;
        animation-delay: 3.1s;
        animation-timing-function: linear;
        animation-fill-mode: both;
      }
    }
  }

  .item_2, .item_3, .item_4 {
    margin-top: 28rem/@base-size;
    width: 494rem/@base-size;

    .swiper-slide-active& {
      animation-name: fadeIn;
      animation-duration: .6s;
      animation-timing-function: linear;
      animation-fill-mode: both;
    }
  }

  .item_2 {
    animation-delay: .9s;
  }

  .item_3 {
    animation-delay: 1.5s;
  }

  .item_4 {
    animation-delay: 2.1s;
  }
}

.page_3 {

  .page_item_wrap {
    margin-top: 80rem/@base-size;
  }

  .item_1 {
    width: 411rem/@base-size;

    .flash_2 {
      right: 100%;
      top: -100%;
    }

    .flash_1 {
      left: 100%;
      top: 50%;
    }

    .swiper-slide-active& {
      animation-name: zoomIn;
      animation-duration: .6s;
      animation-delay: .3s;
      animation-timing-function: linear;
      animation-fill-mode: both;

      .flash_1 {
        animation-name: flashLeft;
        animation-duration: .8s;
        animation-delay: 1s;
        animation-timing-function: linear;
        animation-fill-mode: both;
      }

      .flash_2 {
        animation-name: flashRight;
        animation-duration: .8s;
        animation-delay: 1s;
        animation-timing-function: linear;
        animation-fill-mode: both;
      }
    }
  }

  .item_list {
    width: 62rem/@base-size;
    height: 820rem/@base-size;
    position: relative;
    margin-top: 40rem/@base-size;

    &:before, &:after {
      content: '';
      width: 2rem/@base-size;
      height: 50%;
      left: 50%;
      position: absolute;
      background-color: @brand-primary;
      transform: scale(1, 0);

      .swiper-slide-active& {
        animation-name: lineGrow;
        animation-duration: .6s;
        animation-delay: 1.8s;
        animation-fill-mode: both;
      }
    }

    &:before {
      top: 0;
      transform-origin: center top;
    }

    &:after {
      bottom: 0;
      transform-origin: center bottom;
    }
  }

  .item_col {
    position: absolute;

    > .page_item {
      margin-top: 74rem/@base-size;
    }
  }

  .item_col_1 {
    top: -50rem/@base-size;
    right: 100%;

    > .page_item {
      float: right;

      .swiper-slide-active& {
        animation-name: zoomInLeft;
        animation-duration: 1s;
        animation-fill-mode: both;
      }
    }
  }

  .item_col_2 {
    top: 0;
    left: 100%;

    > .page_item {
      .swiper-slide-active& {
        animation-name: zoomInRight;
        animation-duration: 1s;
        animation-fill-mode: both;
      }
    }
  }

  .item_2 {
    width: 76rem/@base-size;

    .swiper-slide-active& {
      animation-delay: 2s;
    }
  }
  .item_3 {
    width: 155rem/@base-size;
    .swiper-slide-active& {
      animation-delay: 2.2s;
    }
  }
  .item_4 {
    width: 117rem/@base-size;
    .swiper-slide-active& {
      animation-delay: 2.1s;
    }
  }
  .item_5 {
    width: 155rem/@base-size;
    .swiper-slide-active& {
      animation-delay: 2.35s;
    }
  }
  .item_6 {
    width: 78rem/@base-size;
    .swiper-slide-active& {
      animation-delay: 2.3s;
    }
  }
  .item_7 {
    width: 77rem/@base-size;
    .swiper-slide-active& {
      animation-delay: 2.5s;
    }
  }
  .item_8 {
    width: 77rem/@base-size;
    .swiper-slide-active& {
      animation-delay: 2.45s;
    }
  }
  .item_9 {
    width: 120rem/@base-size;
    .swiper-slide-active& {
      animation-delay: 2.65s;
    }
  }
  .item_10 {
    width: 77rem/@base-size;
    .swiper-slide-active& {
      animation-delay: 2.6s;
    }
  }
  .item_11 {
    width: 154rem/@base-size;
    .swiper-slide-active& {
      animation-delay: 2.8s;
    }
  }
  .item_12 {
    width: 113rem/@base-size;
    .swiper-slide-active& {
      animation-delay: 2.75s;
    }
  }
  .item_13 {
    width: 77rem/@base-size;
    .swiper-slide-active& {
      animation-delay: 2.95s;
    }
  }
  .item_14 {
    width: 82rem/@base-size;
    .swiper-slide-active& {
      animation-delay: 2.9s;
    }
  }
  .item_15 {
    width: 77rem/@base-size;
    .swiper-slide-active& {
      animation-delay: 3s;
    }
  }
}

@keyframes lineGrow {
  0% {
    transform: scale(1, 0);
  }

  100% {
    transform: scale(1, 1);
  }
}

@keyframes slideInLeft {
  0% {
    transform: translateX(-100%);
    opacity: 0;
  }

  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slideInRight {
  0% {
    transform: translateX(100%);
    opacity: 0;
  }

  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes zoomInLeft {
  0% {
    opacity: 0;
    transform: scale3d(.1, .1, .1) translate3d(-1000px, 0, 0);;
    animation-timing-function: cubic-bezier(0.55, .055, .675, .19)
  }

  60% {
    opacity: 1;
    transform: scale3d(.475, .475, .475) translate3d(10px, 0, 0);
    animation-timing-function: cubic-bezier(0.175, .885, .32, 1)
  }

  100% {
    opacity: 1;
  }
}

@keyframes zoomInRight {
  0% {
    opacity: 0;
    transform: scale3d(.1, .1, .1) translate3d(1000px, 0, 0);
    animation-timing-function: cubic-bezier(0.55, .055, .675, .19)
  }

  60% {
    opacity: 1;
    transform: scale3d(.475, .475, .475) translate3d(-10px, 0, 0);
    animation-timing-function: cubic-bezier(0.175, .885, .32, 1)
  }

  100% {
    opacity: 1;
  }
}

.page_4 {

  .page_item_wrap {
    margin-top: 160rem/@base-size;
  }

  .item_2_wrap {
    width: 750rem/@base-size;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
    opacity: 0;

    .swiper-slide-active& {
      animation-name: fadeIn;
      animation-duration: .6s;
      animation-delay: .3s;
      animation-timing-function: linear;
      animation-fill-mode: both;
    }
  }

  .item_2 {
    width: 369rem/@base-size;
    transform-origin: center bottom;

    .swiper-slide-active& {
      animation-name: zoomIn;
      animation-duration: .6s;
      animation-timing-function: linear;
      animation-fill-mode: both;
      animation-delay: .9s;
    }
  }

  .item_3 {
    margin-top: 100rem/@base-size;
    width: 585rem/@base-size;

    .flash_2 {
      right: 100%;
      top: -30%;
    }

    .flash_1 {
      left: 100%;
      top: 55%;
    }

    .swiper-slide-active& {
      animation-name: zoomIn;
      animation-duration: .6s;
      animation-delay: 1.5s;
      animation-timing-function: linear;
      animation-fill-mode: both;

      .flash_1 {
        animation-name: flashLeft;
        animation-duration: .8s;
        animation-delay: 2.7s;
        animation-timing-function: linear;
        animation-fill-mode: both;
      }

      .flash_2 {
        animation-name: flashRight;
        animation-duration: .8s;
        animation-delay: 2.7s;
        animation-timing-function: linear;
        animation-fill-mode: both;
      }
    }
  }

  .item_4 {
    margin-top: 50rem/@base-size;
    width: 375rem/@base-size;

    .swiper-slide-active& {
      animation-name: fadeIn;
      animation-duration: .6s;
      animation-delay: 2.1s;
      animation-timing-function: linear;
      animation-fill-mode: both;
    }
  }
}

.bottom_line {
  position: absolute;
  width: 8rem/@base-size;
  height: 8rem/@base-size;

  > .line_dot {
    width: 8rem/@base-size;
    height: 8rem/@base-size;
    border-radius: 50%;
    background-color: @brand-primary;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
  }
}

@keyframes dot_move_right {
  0% {
    opacity: 1
  }

  50% {
    opacity: 0;
    transform: translateX(3.2rem);
  }

  100% {
    opacity: 0;
    transform: translateX(3.2rem);
  }
}

@keyframes dot_move_left {
  0% {
    opacity: 1
  }

  50% {
    opacity: 0;
    transform: translateX(-3.2rem);
  }

  100% {
    opacity: 0;
    transform: translateX(-3.2rem);
  }
}

.page_5 {

  .page_item_wrap {
    width: 568rem/@base-size;
    margin-top: 120rem/@base-size;
  }

  .bottom_line {
    left: 200rem/@base-size;
    margin-top: 4rem/@base-size;
  }

  .item_1 {

    .flash_2 {
      right: 100%;
      top: -40%;
    }

    .flash_1 {
      left: 100%;
      top: 53%;
    }

    .swiper-slide-active& {
      animation-name: zoomIn;
      animation-duration: .6s;
      animation-delay: .3s;
      animation-timing-function: linear;
      animation-fill-mode: both;

      .flash_1 {
        animation-name: flashLeft;
        animation-duration: .8s;
        animation-delay: 1s;
        animation-timing-function: linear;
        animation-fill-mode: both;
      }

      .flash_2 {
        animation-name: flashRight;
        animation-duration: .8s;
        animation-delay: 1s;
        animation-timing-function: linear;
        animation-fill-mode: both;
      }
    }
  }

  .item_2 {
    margin-top: 120rem/@base-size;
    width: 126rem/@base-size;

    .swiper-slide-active& {
      animation-name: zoomIn;
      animation-duration: .6s;
      animation-delay: 1.8s;
      animation-timing-function: linear;
      animation-fill-mode: both;
    }
  }

  .item_3 {
    margin-top: 60rem/@base-size;
    width: 408rem/@base-size;

    .flash {
      top: 0;
      right: 100%;

      .swiper-slide-active& {
        animation-name: flashRight;
        animation-duration: .5s;
        animation-delay: 3.4s;
        animation-timing-function: linear;
        animation-fill-mode: both;
      }
    }

    .swiper-slide-active& {
      animation-name: zoomInRight;
      animation-duration: 1s;
      animation-delay: 2.4s;
      animation-fill-mode: both;
    }
  }

  .item_4 {
    margin-top: 60rem/@base-size;
    width: 357rem/@base-size;
    .swiper-slide-active& {
      animation-name: slideInUp;
      animation-duration: .6s;
      animation-delay: 3.9s;
      animation-fill-mode: both;
    }
  }

  .line_dot {
    .swiper-slide-active& {
      animation-name: dot_move_right;
      animation-duration: 3.6s;
      animation-iteration-count: infinite;
      animation-timing-function: ease-in;

      &.line_dot_1 {
        animation-delay: 5.6s;
      }
      &.line_dot_2 {
        animation-delay: 5.4s;
      }
      &.line_dot_3 {
        animation-delay: 5.2s;
      }
      &.line_dot_4 {
        animation-delay: 5s;
      }
      &.line_dot_5 {
        animation-delay: 4.8s;
      }
      &.line_dot_6 {
        animation-delay: 4.6s;
      }
      &.line_dot_7 {
        animation-delay: 4.4s;
      }
      &.line_dot_8 {
        animation-delay: 4.2s;
      }
      &.line_dot_9 {
        animation-delay: 4s;
      }
      &.line_dot_10 {
        animation-delay: 3.8s;
      }
      &.line_dot_11 {
        animation-delay: 3.6s;
      }
      &.line_dot_11 {
        animation-delay: 3.4s;
      }
    }
  }
}

@keyframes slideInUp {
  0% {
    transform: translate3d(0, 100%, 0);
    opacity: 0;
  }

  100% {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}

.page_6 {

  .page_item_wrap {
    width: 568rem/@base-size;
    margin-top: 120rem/@base-size;
  }

  .bottom_line {
    right: 134rem/@base-size;
    top: 66rem/@base-size;
  }

  .item_1 {
    opacity: 1;
  }

  .item_2 {
    margin-top: 120rem/@base-size;
    width: 134rem/@base-size;
    .swiper-slide-active& {
      animation-name: zoomIn;
      animation-duration: .6s;
      animation-delay: .3s;
      animation-timing-function: linear;
      animation-fill-mode: both;
    }
  }

  .item_3 {
    margin-top: 60rem/@base-size;
    width: 415rem/@base-size;

    .flash {
      top: 0;
      left: 100%;

      .swiper-slide-active& {
        animation-name: flashLeft;
        animation-duration: .5s;
        animation-delay: 1.9s;
        animation-timing-function: linear;
        animation-fill-mode: both;
      }
    }
    .swiper-slide-active& {
      animation-name: zoomInLeft;
      animation-duration: 1s;
      animation-delay: .9s;
      animation-fill-mode: both;
    }
  }

  .item_4 {
    margin-top: 60rem/@base-size;
    width: 367rem/@base-size;
    .swiper-slide-active& {
      animation-name: slideInUp;
      animation-duration: .6s;
      animation-delay: 2.4s;
      animation-fill-mode: both;
    }
  }

  .line_dot {
    .swiper-slide-active& {
      animation-name: dot_move_left;
      animation-duration: 3.6s;
      animation-iteration-count: infinite;
      animation-timing-function: ease-in;

      &.line_dot_1 {
        animation-delay: 4.1s;
      }
      &.line_dot_2 {
        animation-delay: 3.9s;
      }
      &.line_dot_3 {
        animation-delay: 3.7s;
      }
      &.line_dot_4 {
        animation-delay: 3.5s;
      }
      &.line_dot_5 {
        animation-delay: 3.3s;
      }
      &.line_dot_6 {
        animation-delay: 3.1s;
      }
      &.line_dot_7 {
        animation-delay: 2.9s;
      }
      &.line_dot_8 {
        animation-delay: 2.7s;
      }
      &.line_dot_9 {
        animation-delay: 2.5s;
      }
      &.line_dot_10 {
        animation-delay: 2.3s;
      }
      &.line_dot_11 {
        animation-delay: 2.1s;
      }
      &.line_dot_11 {
        animation-delay: 1.9s;
      }
    }
  }
}

.page_7 {

  .page_item_wrap {
    width: 568rem/@base-size;
    margin-top: 120rem/@base-size;
  }
  .item_1 {
    opacity: 1;
  }

  .bottom_line {
    left: 324rem/@base-size;
    top: 120rem/@base-size;
  }

  .item_2 {
    margin-top: 60rem/@base-size;
    width: 125rem/@base-size;
    .swiper-slide-active& {
      animation-name: zoomIn;
      animation-duration: .6s;
      animation-delay: .3s;
      animation-timing-function: linear;
      animation-fill-mode: both;
    }
  }

  .item_3 {
    margin-top: 60rem/@base-size;
    width: 512rem/@base-size;

    .flash {
      top: 0;
      right: 100%;

      .swiper-slide-active& {
        animation-name: flashRight;
        animation-duration: .5s;
        animation-delay: 1.9s;
        animation-timing-function: linear;
        animation-fill-mode: both;
      }
    }
    .swiper-slide-active& {
      animation-name: zoomInRight;
      animation-duration: 1s;
      animation-delay: .9s;
      animation-fill-mode: both;
    }
  }

  .item_4 {
    margin-top: 60rem/@base-size;
    width: 456rem/@base-size;
    .swiper-slide-active& {
      animation-name: slideInUp;
      animation-duration: .6s;
      animation-delay: 2.4s;
      animation-fill-mode: both;
    }
  }

  .line_dot {
    .swiper-slide-active& {
      animation-name: dot_move_right;
      animation-duration: 3.6s;
      animation-iteration-count: infinite;
      animation-timing-function: ease-in;

      &.line_dot_1 {
        animation-delay: 4.1s;
      }
      &.line_dot_2 {
        animation-delay: 3.9s;
      }
      &.line_dot_3 {
        animation-delay: 3.7s;
      }
      &.line_dot_4 {
        animation-delay: 3.5s;
      }
      &.line_dot_5 {
        animation-delay: 3.3s;
      }
      &.line_dot_6 {
        animation-delay: 3.1s;
      }
      &.line_dot_7 {
        animation-delay: 2.9s;
      }
      &.line_dot_8 {
        animation-delay: 2.7s;
      }
      &.line_dot_9 {
        animation-delay: 2.5s;
      }
      &.line_dot_10 {
        animation-delay: 2.3s;
      }
      &.line_dot_11 {
        animation-delay: 2.1s;
      }
      &.line_dot_11 {
        animation-delay: 1.9s;
      }
    }
  }
}

.page_8 {

  .page_item_wrap {
    width: 568rem/@base-size;
    margin-top: 120rem/@base-size;
  }

  .bottom_line {
    right: 4rem/@base-size;
    top: 134rem/@base-size;
  }

  .item_1 {
    opacity: 1;
  }

  .item_2 {
    margin-top: 60rem/@base-size;
    width: 133rem/@base-size;
    .swiper-slide-active& {
      animation-name: zoomIn;
      animation-duration: .6s;
      animation-delay: .3s;
      animation-timing-function: linear;
      animation-fill-mode: both;
    }
  }

  .item_3 {
    margin-top: 60rem/@base-size;
    width: 442rem/@base-size;

    .flash {
      top: 0;
      left: 100%;

      .swiper-slide-active& {
        animation-name: flashLeft;
        animation-duration: .5s;
        animation-delay: 1.9s;
        animation-timing-function: linear;
        animation-fill-mode: both;
      }
    }
    .swiper-slide-active& {
      animation-name: zoomInLeft;
      animation-duration: 1s;
      animation-delay: .9s;
      animation-fill-mode: both;
    }
  }

  .item_4 {
    margin-top: 60rem/@base-size;
    width: 236rem/@base-size;
    .swiper-slide-active& {
      animation-name: slideInUp;
      animation-duration: .6s;
      animation-delay: 2.4s;
      animation-fill-mode: both;
    }
  }

  .line_dot {
    .swiper-slide-active& {
      animation-name: dot_move_left;
      animation-duration: 3.6s;
      animation-iteration-count: infinite;
      animation-timing-function: ease-in;

      &.line_dot_1 {
        animation-delay: 4.1s;
      }
      &.line_dot_2 {
        animation-delay: 3.9s;
      }
      &.line_dot_3 {
        animation-delay: 3.7s;
      }
      &.line_dot_4 {
        animation-delay: 3.5s;
      }
      &.line_dot_5 {
        animation-delay: 3.3s;
      }
      &.line_dot_6 {
        animation-delay: 3.1s;
      }
      &.line_dot_7 {
        animation-delay: 2.9s;
      }
      &.line_dot_8 {
        animation-delay: 2.7s;
      }
      &.line_dot_9 {
        animation-delay: 2.5s;
      }
      &.line_dot_10 {
        animation-delay: 2.3s;
      }
      &.line_dot_11 {
        animation-delay: 2.1s;
      }
      &.line_dot_11 {
        animation-delay: 1.9s;
      }
    }
  }
}

.page_9 {

  .page_item_wrap {
    margin-top: 80rem/@base-size;
  }

  .item_1 {
    width: 580rem/@base-size;

    .flash_2 {
      right: 100%;
      top: -10%;
    }

    .flash_1 {
      right: 100%;
      top: 1%;
    }

    .swiper-slide-active& {
      animation-name: zoomIn;
      animation-duration: .6s;
      animation-delay: .3s;
      animation-timing-function: linear;
      animation-fill-mode: both;

      .flash_1 {
        animation-name: flashRight;
        animation-duration: .8s;
        animation-delay: .9s;
        animation-timing-function: linear;
        animation-fill-mode: both;
      }

      .flash_2 {
        animation-name: flashRight;
        animation-duration: .8s;
        animation-delay: 1.3s;
        animation-timing-function: linear;
        animation-fill-mode: both;
      }
    }
  }

  .circle_layer {
    margin-top: 10rem/@base-size;
    width: 100%;
    position: relative;
  }

  .circle_bg_1, .circle_bd_1 {
    width: 220rem/@base-size;
    height: 220rem/@base-size;
  }

  .circle_bg_1 {
    right: 26rem/@base-size;
    top: 14rem/@base-size;
  }

  .circle_bd_1 {
    right: 40rem/@base-size;
    top: 0;

    .swiper-slide-active& {
      animation-name: fadeIn, rotate360;
      animation-duration: .6s, 20s;
      animation-delay: 1.3s, 1.6s;
      animation-timing-function: linear;
      animation-iteration-count: 1, infinite;
      animation-fill-mode: both;
    }

    .circle_bd_1_inner {
      width: 56rem/@base-size;
      height: 56rem/@base-size;

      .swiper-slide-active& {
        animation-name: fadeIn, rotate360;
        animation-duration: .6s, 10s;
        animation-delay: 1.3s, 1.6s;
        animation-timing-function: linear;
        animation-iteration-count: 1, infinite;
        animation-fill-mode: both;
      }
    }

    .circle_dot {
      .swiper-slide-active& {
        animation-name: fadeIn;
        animation-duration: .6s;
        animation-delay: 1.3s;
        animation-timing-function: linear;
        animation-iteration-count: 1;
        animation-fill-mode: both;
      }
    }
  }

  .circle_bg_2, .circle_bd_2 {
    width: 550rem/@base-size;
    height: 550rem/@base-size;
  }

  .circle_bg_2 {
    right: 350rem/@base-size;
    top: 40rem/@base-size;
  }

  .circle_bd_2 {
    right: 360rem/@base-size;
    top: 30rem/@base-size;

    .swiper-slide-active& {
      animation-name: fadeIn, rotate360;
      animation-duration: .6s, 20s;
      animation-delay: 3s, 3.3s;
      animation-timing-function: linear;
      animation-iteration-count: 1, infinite;
      animation-fill-mode: both;
    }

    .circle_bd_2_inner {
      width: 86rem/@base-size;
      height: 86rem/@base-size;

      .swiper-slide-active& {
        animation-name: fadeIn, rotate360;
        animation-duration: .6s, 10s;
        animation-delay: 3s, 3.3s;
        animation-timing-function: linear;
        animation-iteration-count: 1, infinite;
        animation-fill-mode: both;
      }
    }
    .circle_dot {
      .swiper-slide-active& {
        animation-name: fadeIn;
        animation-duration: .6s;
        animation-delay: 3s;
        animation-timing-function: linear;
        animation-iteration-count: 1;
        animation-fill-mode: both;
      }
    }
  }

  .circle_line {
    position: absolute;
    width: 550rem/@base-size;
    height: 550rem/@base-size;
    right: 360rem/@base-size;
    top: 30rem/@base-size;
  }

  .circle_bg_3, .circle_bd_3 {
    width: 384rem/@base-size;
    height: 384rem/@base-size;
  }

  .circle_bg_3 {
    right: 10rem/@base-size;
    top: 500rem/@base-size;
  }

  .circle_bd_3 {
    right: 20rem/@base-size;
    top: 480rem/@base-size;

    .swiper-slide-active& {
      animation-name: fadeIn, rotate360;
      animation-duration: .6s, 20s;
      animation-delay: 4.1s, 4.7s;
      animation-timing-function: linear;
      animation-iteration-count: 1, infinite;
      animation-fill-mode: both;
    }

    .circle_bd_3_inner {
      width: 74rem/@base-size;
      height: 74rem/@base-size;
      .swiper-slide-active& {
        animation-name: fadeIn, rotate360;
        animation-duration: .6s, 10s;
        animation-delay: 4s, 4.7s;
        animation-timing-function: linear;
        animation-iteration-count: 1, infinite;
        animation-fill-mode: both;
      }
    }
    .circle_dot {
      .swiper-slide-active& {
        animation-name: fadeIn;
        animation-duration: .6s;
        animation-delay: 4.1s;
        animation-timing-function: linear;
        animation-iteration-count: 1;
        animation-fill-mode: both;
      }
    }
  }

  .circle_bg {
    background-color: rgba(red(@brand-primary), green(@brand-primary), blue(@brand-primary), .12);

    .swiper-slide-active& {
      animation-name: fadeIn;
      animation-duration: .6s;
      animation-delay: 1.3s;
      animation-timing-function: linear;
      animation-fill-mode: both;

      &.circle_bg_2 {
        animation-delay: 3s;
      }
      &.circle_bg_3 {
        animation-delay: 4.1s;
      }
    }
  }

  .circle_bd, .circle_bd > .circle {
    border: 2rem/@base-size dotted @brand-primary;
  }

  .circle {
    position: absolute;
    border-radius: 50%;
    opacity: 0;
  }

  .circle_dot {
    border: none;
    background-color: @brand-primary;
    width: 18rem/@base-size;
    height: 18rem/@base-size;
  }

  .dot_line {
    position: absolute;
    left: 50%;
    top: 50%;
    height: 2rem/@base-size;

    &:before {
      content: '';
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      border-top: 2rem/@base-size dotted @brand-primary;
      opacity: 0;
    }
  }

  .dot_line_1 {
    width: 525rem/@base-size;
    transform: rotate(-22deg);
    transform-origin: left center;

    &:before {
      transform-origin: right center;

      .swiper-slide-active& {
        animation-name: dot_line_1;
        animation-duration: .6s;
        animation-delay: 2.5s;
        animation-fill-mode: both;
        animation-timing-function: linear;
      }
    }
  }

  .dot_line_2 {
    width: 562rem/@base-size;
    transform: rotate(41deg);
    transform-origin: left center;

    &:before {
      transform-origin: left center;

      .swiper-slide-active& {
        animation-name: dot_line_1;
        animation-duration: .6s;
        animation-delay: 4.2s;
        animation-fill-mode: both;
        animation-timing-function: linear;
      }
    }
  }

  .item_2 {
    width: 149rem/@base-size;
    position: absolute;
    right: 80rem/@base-size;
    top: 160rem/@base-size;

    .swiper-slide-active& {
      animation-name: zoomIn;
      animation-duration: .6s;
      animation-delay: 1.9s;
      animation-timing-function: linear;
      animation-fill-mode: both;
    }
  }

  .item_3 {
    width: 209rem/@base-size;
    position: absolute;
    top: 310rem/@base-size;
    right: 370rem/@base-size;

    .swiper-slide-active& {
      animation-name: zoomIn;
      animation-duration: .6s;
      animation-delay: 3.6s;
      animation-timing-function: linear;
      animation-fill-mode: both;
    }
  }

  .item_4 {
    width: 141rem/@base-size;
    position: absolute;
    right: 280rem/@base-size;
    top: 640rem/@base-size;

    .swiper-slide-active& {
      animation-name: zoomIn;
      animation-duration: .6s;
      animation-delay: 4.7s;
      animation-timing-function: linear;
      animation-fill-mode: both;
    }
  }
}

@keyframes dot_line_1 {
  0% {
    opacity: 0;
    transform: scale(0, 1);
  }

  1% {
    opacity: 1;
  }

  100% {
    opacity: 1;
    transform: scale(1, 1);
  }
}

.page_10 {

  .page_item_wrap {
    margin-top: 120rem/@base-size;
  }

  .item_1 {
    width: 558rem/@base-size;

    .flash_2 {
      right: 100%;
      top: -10%;
    }

    .flash_1 {
      right: 100%;
      top: 1%;
    }

    .swiper-slide-active& {
      animation-name: fadeIn;
      animation-duration: .6s;
      animation-delay: .3s;
      animation-timing-function: linear;
      animation-fill-mode: both;

      .flash_1 {
        animation-name: flashRight;
        animation-duration: .8s;
        animation-delay: .9s;
        animation-timing-function: linear;
        animation-fill-mode: both;
      }

      .flash_2 {
        animation-name: flashRight;
        animation-duration: .8s;
        animation-delay: 1.3s;
        animation-timing-function: linear;
        animation-fill-mode: both;
      }
    }
  }

  .item_2, .item_3, .item_4, .item_5, .item_6 {
    margin-top: 30rem/@base-size;
    width: 463rem/@base-size;
    position: relative;

    .swiper-slide-active& {
      animation-name: slideInUp;
      animation-duration: .8s;
      animation-delay: .9s;
      animation-timing-function: linear;
      animation-fill-mode: both;
    }
  }

  .item_2, .item_3, .item_4, .item_5, .item_6, .item_7 {

    .swiper-slide-active& {
      animation-name: slideInUp;
      animation-duration: .8s;
      animation-delay: .9s;
      animation-timing-function: linear;
      animation-fill-mode: both;
    }
  }

  .form-control-wrap {
    position: absolute;
    display: block;
    bottom: 5rem/@base-size;
    left: 10rem/@base-size;
    right: 10rem/@base-size;
  }

  .form-control {
    border: none;
    padding: 0 10rem/@base-size;
    &, &:focus {
      outline: none;
    }
    width: 100%;
    height: 54rem/@base-size;
    background-color: transparent;
    color: @brand-primary;
    .flexible-font-size(14px, 30px, 46px);
  }

  .item_7 {
    margin-top: 60rem/@base-size;
    width: 159rem/@base-size;
    height: 54rem/@base-size;
    background-color: transparent;
    &:after {
      display: none;
    }
  }

  .item_8 {
    width: 213rem/@base-size;
    margin-top: 200rem/@base-size;
    opacity: 1;
  }

  .item_9 {
    width: 338rem/@base-size;
    margin-top: 40rem/@base-size;
    opacity: 1;
  }
}

@keyframes rotate360 {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes zoomIn {
  0% {
    transform: scale(4);
    opacity: 0;
  }

  100% {
    transform: scale(1);
    opacity: 1;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes slide_arrow {
  0%, 100% {
    opacity: 1;
    transform: translate3D(0, 0, 0);
  }

  50% {
    opacity: .8;
    transform: translate3D(0, -50%, 0);
  }
}