<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>{{title}}</title>
    <link rel="stylesheet" href="/css/bootstrap.css">
    <link rel="stylesheet" href="/css/quick_layout.css">
    <script src="/js/jquery.js"></script>
</head>
<body>
<div class="mt20 mb20 tc">
    <button type="button" name="button" class="btn btn-default" onclick="getToken()">获取token</button>
</div>
<div class="mt20 mb20 tc">
    <button type="button" name="button" class="btn btn-info" onclick="refreshToken()">刷新token</button>
</div>
<div class="mt20 mb20 tc">
    <button type="button" name="button" class="btn btn-primary" onclick="getUser()">获取用户信息</button>
</div>
<script type="text/javascript">
    function getToken() {
        $.ajax({
            url: 'http://localhost:3000/api/getToken',
            type: 'GET',
            dataType: 'json',
            data: {
                username: 'jim',
                password: 'jim'
            },
            success: function (res) {
                if (res.code == 200) {
                    localStorage.setItem('token', res.data);
                } else {
                    console.log(JSON.stringify(res));
                }
            }
        });
    }

    function refreshToken() {
        $.ajax({
            url: 'http://localhost:3000/api/refreshToken',
            type: 'GET',
            dataType: 'json',
            headers: {
                'Authorization': 'Bearer ' + localStorage.getItem('token')
            },
            success: function (res) {
                if (res.code == 200) {
                    localStorage.setItem('token', res.data);
                } else {
                    console.log(JSON.stringify(res));
                }
            }
        });
    }

    function getUser() {
        $.ajax({
            url: 'http://localhost:3000/api/getUser',
            type: 'GET',
            dataType: 'json',
            headers: {
                'Authorization': 'Bearer ' + localStorage.getItem('token')
            },
            success: function (res) {
                if (res.code == 200) {
                    console.log(res.data);
                } else {
                    console.log(JSON.stringify(res));
                }
            }
        });
    }
</script>
</body>
</html>
