@import "../widget/reset";
@import "../widget/quick_layout";

.box {
  width: 400px;
  background-color: #B6E2D3;
  margin: 0 auto;
  position: relative;
}

.target {
  width: 50px;
  height: 50px;
  margin: 20px auto;
  background-color: #3c948b;
}

#demo1 {
  .target.animate {
    animation-name: move_1;
    animation-duration: 2s;
    animation-delay: 1s;

    &.target_1 {
      animation-fill-mode: backwards;
    }
    &.target_2 {
      animation-fill-mode: forwards;
    }
    &.target_3 {
      animation-fill-mode: both;
    }
  }
}

@keyframes move_1 {
  0% {
    transform: translate(-50px, 0);
  }

  50% {
    transform: translate(0, 0);
  }

  100% {
    transform: translate(50px, 0);
  }
}

//demo1
/*

.target_2:hover {
  animation-name: move_2;
  animation-duration: 2s;
  animation-delay: 1s;
  animation-fill-mode: both;
}

@keyframes move_2 {
  0% {
    transform: translate(-50px, 0);
  }

  50% {
    transform: translate(0, 50px);
  }

  100% {
    transform: translate(50px, 0);
  }
}

.target_3:hover {
  animation-name: move_3;
  animation-duration: 2s;
  animation-delay: 1s;
  animation-fill-mode: both;

  transform: scale(.5, .5) translateZ(0);
}

@keyframes move_3 {
  0% {
    transform: translate(-50px, 0);
  }

  50% {
    transform: translate(0, 50px);
  }

  100% {
    transform: translate(50px, 0);
  }
}

.target_4:hover {
  animation-name: move_4, bg_change_4;
  animation-duration: 2s, 1s;
  animation-delay: 1s, 1s;
  animation-fill-mode: both;
}

@keyframes move_4 {
  0% {
    transform: translate(-50px, 0);
  }

  50% {
    transform: translate(0, 50px);
  }

  100% {
    transform: translate(50px, 0);
  }
}

@keyframes bg_change_4 {
  0% {
    background-color: orange;
  }

  100% {
    background-color: red;
  }
}

.target_5_01:hover {
  animation-name: move_5, bg_change_5;
  animation-duration: 2s, 1s;
  animation-delay: 1s, 2s;
  animation-fill-mode: both;
}

.target_5_02:hover {
  animation-name: bg_change_5, move_5;
  animation-duration: 2s, 1s;
  animation-delay: 1s, 2s;
  animation-fill-mode: both;
}

@keyframes move_5 {
  0% {
    transform: translate(-50px, 0);
  }

  50% {
    transform: translate(0, 50px);
  }

  100% {
    transform: translate(50px, 0);
  }
}

@keyframes bg_change_5 {
  0% {
    background-color: orange;
    transform: translateZ(100px);
  }

  100% {
    background-color: red;
    transform: translateZ(100px);
  }
}

.target_6:hover {
  animation-name: move6_01, move6_02;
  animation-duration: 1s, 1s;
  animation-delay: 1s, 3s;
  animation-fill-mode: both,forwards;
}

@keyframes move6_01 {
  from {
    visibility: hidden;
    opacity: 0;
    transform: translate(0, 50px);
  }

  to {
    visibility: visible;
    opacity: 1;
    transform: translate(0, 0);
  }
}

@keyframes move6_02 {
  to {
    visibility: hidden;
    opacity: 0;
    transform: translate(0, -100px);
  }
}*/
