
/* display */
.dn {
  display: none;
}
.di {
  display: inline;
}
.db {
  display: block;
}
.dib {
  display: inline-block;
}
div.dib {
  *display: inline;
  *zoom: 1;
}
/* font-style */
.n {
  font-weight: normal;
  font-style: normal;
  white-space: normal;
}
.b {
  font-weight: bold;
}
.i {
  font-style: italic;
}
/* text-align */
.tc {
  text-align: center;
}
.tr {
  text-align: right;
}
.tl {
  text-align: left;
}
.tj {
  text-align: justify;
}
/* text-decoration */
.tdl {
  text-decoration: underline;
}
a.tdl-h {
  text-decoration: none;
}
a.tdl-h:hover {
  text-decoration: underline;
}
.tdn,
.tdn:hover,
.tdn a:hover,
a.tdl:hover {
  text-decoration: none;
}
/* letter-spacing */
.lt-1 {
  letter-spacing: -1px;
}
.lt0 {
  letter-spacing: 0;
}
.lt1 {
  letter-spacing: 1px;
}
/* white-space */
.nowrap {
  white-space: nowrap;
}
/* word-wrap */
.bk {
  word-wrap: break-word;
}
/* vertical-align */
.vm {
  vertical-align: middle;
}
.vtb {
  vertical-align: text-bottom;
}
.vb {
  vertical-align: bottom;
}
.vt {
  vertical-align: top;
}
.v-1 {
  vertical-align: -1px;
}
.v-2 {
  vertical-align: -2px;
}
.v-3 {
  vertical-align: -3px;
}
.v-4 {
  vertical-align: -4px;
}
.v-5 {
  vertical-align: -5px;
}
/* float */
.l {
  float: left;
}
.r {
  float: right;
}
/* clear */
.cl {
  clear: both;
}
/* position */
.rel {
  position: relative;
}
.abs {
  position: absolute;
}
/*z-index*/
.zx1 {
  z-index: 1;
}
.zx2 {
  z-index: 2;
}
/* cursor */
.poi {
  cursor: pointer;
}
.def {
  cursor: default;
}
/* overflow */
.ovh {
  overflow: hidden;
}
.ova {
  overflow: auto;
}
/* visibility */
.vh {
  visibility: hidden;
}
.vv {
  visibility: visible;
}
/* opacity */
.opa0 {
  opacity: 0;
}
/* zoom */
.z {
  *zoom: 1;
}
/* ------------------- multiply CSS ------------------ */
/* 块状元素水平居中 */
.auto {
  margin-left: auto;
  margin-right: auto;
}
/* 清除浮动*/
.fix {
  *zoom: 1;
}
.fix:after {
  display: table;
  content: '';
  clear: both;
}
/* 基于display:table-cell的自适应布局 */
.cell {
  display: table-cell;
  *display: inline-block;
  width: 2000px;
  *width: auto;
}
/* 双栏自适应cell部分连续英文字符换行 */
.cell2 {
  overflow: hidden;
  _display: inline-block;
}
/* 单行文字溢出虚点显 示*/
.ell {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
/* css3过渡动画效果 */
.trans {
  -webkit-transition: all .15s;
  transition: all .15s;
}
/* 大小不定元素垂直居中 */
.dib_vm {
  display: inline-block;
  width: 0;
  height: 100%;
  vertical-align: middle;
}
/* 无框文本框文本域 */
.bd_none {
  border: 0;
  outline: none;
}
/* 绝对定位隐藏 */
.abs_out {
  position: absolute;
  left: -999em;
  top: -999em;
}
.abs_clip {
  position: absolute;
  clip: rect(0 0 0 0);
}
/*inline-block与float等宽列表*/
.inline_box {
  font-size: 1em;
  letter-spacing: -0.25em;
  font-family: Arial;
}
.inline_two,
.inline_three,
.inline_four,
.inline_five,
.inline_six,
.inline_any {
  display: inline-block;
  *display: inline;
  letter-spacing: 0;
  vertical-align: top;
  *zoom: 1;
}
.float_two,
.float_three,
.float_four,
.float_five,
.float_six {
  float: left;
}
.inline_two,
.float_two {
  width: 50%;
  *width: 49.9%;
}
.inline_three,
.float_three {
  width: 33.33333%;
  *width: 33.3%;
}
.inline_four,
.float_four {
  width: 25%;
  *width: 24.9%;
}
.inline_five,
.float_five {
  width: 20%;
  *width: 19.9%;
}
.inline_six,
.float_six {
  width: 16.66666%;
  *width: 16.6%;
}
.inline_fix {
  display: inline-block;
  width: 100%;
  height: 0;
  overflow: hidden;
}
/* border-color name rule: border(b)-position(l/r/t/b/d)-width(null/2)-style(null/sh)-color(first one letter/first two letter) |-> All colors are safe color*/
.bdc {
  border: 1px solid #ccc;
}
.blc {
  border-left: 1px solid #ccc;
}
.brc {
  border-right: 1px solid #ccc;
}
.btc {
  border-top: 1px solid #ccc;
}
.bbc {
  border-bottom: 1px solid #ccc;
}
.bdd {
  border: 1px solid #ddd;
}
.bld {
  border-left: 1px solid #ddd;
}
.brd {
  border-right: 1px solid #ddd;
}
.btd {
  border-top: 1px solid #ddd;
}
.bbd {
  border-bottom: 1px solid #ddd;
}
.bde {
  border: 1px solid #eee;
}
.ble {
  border-left: 1px solid #eee;
}
.bre {
  border-right: 1px solid #eee;
}
.bte {
  border-top: 1px solid #eee;
}
.bbe {
  border-bottom: 1px solid #eee;
}
/* background-color name rule: bg - (key word/Hex color) |-> All colors are safe color */
.bgwh {
  background-color: #fff;
}
.bgfb {
  background-color: #fbfbfb;
}
.bgf5 {
  background-color: #f5f5f5;
}
.bgf0 {
  background-color: #f0f0f0;
}
.bgeb {
  background-color: #ebebeb;
}
.bge0 {
  background-color: #e0e0e0;
}
/* safe color */
.g0 {
  color: #000;
}
.g3 {
  color: #333;
}
.g6 {
  color: #666;
}
.g9 {
  color: #999;
}
.gc {
  color: #ccc;
}
.wh {
  color: white;
}
.f12 {
  font-size: 12px;
}
.f14 {
  font-size: 14px;
}
.f16 {
  font-size: 16px;
}
.f18 {
  font-size: 18px;
}
.f20 {
  font-size: 20px;
}
.f22 {
  font-size: 22px;
}
.f24 {
  font-size: 24px;
}
.f26 {
  font-size: 26px;
}
.f28 {
  font-size: 28px;
}
.f30 {
  font-size: 30px;
}
.f32 {
  font-size: 32px;
}
.f34 {
  font-size: 34px;
}
.f36 {
  font-size: 36px;
}
.f38 {
  font-size: 38px;
}
.f40 {
  font-size: 40px;
}
.f42 {
  font-size: 42px;
}
.f44 {
  font-size: 44px;
}
.f46 {
  font-size: 46px;
}
.f48 {
  font-size: 48px;
}
.f50 {
  font-size: 50px;
}
.w0 {
  width: 0px;
}
.w2 {
  width: 2px;
}
.w4 {
  width: 4px;
}
.w6 {
  width: 6px;
}
.w8 {
  width: 8px;
}
.w10 {
  width: 10px;
}
.w12 {
  width: 12px;
}
.w14 {
  width: 14px;
}
.w16 {
  width: 16px;
}
.w18 {
  width: 18px;
}
.w20 {
  width: 20px;
}
.w22 {
  width: 22px;
}
.w24 {
  width: 24px;
}
.w26 {
  width: 26px;
}
.w28 {
  width: 28px;
}
.w30 {
  width: 30px;
}
.w32 {
  width: 32px;
}
.w34 {
  width: 34px;
}
.w36 {
  width: 36px;
}
.w38 {
  width: 38px;
}
.w40 {
  width: 40px;
}
.w42 {
  width: 42px;
}
.w44 {
  width: 44px;
}
.w46 {
  width: 46px;
}
.w48 {
  width: 48px;
}
.w50 {
  width: 50px;
}
.w52 {
  width: 52px;
}
.w54 {
  width: 54px;
}
.w56 {
  width: 56px;
}
.w58 {
  width: 58px;
}
.w60 {
  width: 60px;
}
.w62 {
  width: 62px;
}
.w64 {
  width: 64px;
}
.w66 {
  width: 66px;
}
.w68 {
  width: 68px;
}
.w70 {
  width: 70px;
}
.w72 {
  width: 72px;
}
.w74 {
  width: 74px;
}
.w76 {
  width: 76px;
}
.w78 {
  width: 78px;
}
.w80 {
  width: 80px;
}
.w82 {
  width: 82px;
}
.w84 {
  width: 84px;
}
.w86 {
  width: 86px;
}
.w88 {
  width: 88px;
}
.w90 {
  width: 90px;
}
.w92 {
  width: 92px;
}
.w94 {
  width: 94px;
}
.w96 {
  width: 96px;
}
.w98 {
  width: 98px;
}
.w100 {
  width: 100px;
}
.pct8 {
  width: 8.333%;
}
.pct16 {
  width: 16.667%;
}
.pct25 {
  width: 25%;
}
.pct33 {
  width: 33.333%;
}
.pct41 {
  width: 41.667%;
}
.pct50 {
  width: 50%;
}
.pct58 {
  width: 58.333%;
}
.pct66 {
  width: 66.667%;
}
.pct75 {
  width: 75%;
}
.pct83 {
  width: 83.333%;
}
.pct91 {
  width: 91.667%;
}
.pct100 {
  width: 100%;
}
.pct10 {
  width: 10%;
}
.pct20 {
  width: 20%;
}
.pct30 {
  width: 30%;
}
.pct40 {
  width: 40%;
}
.pct50 {
  width: 50%;
}
.pct60 {
  width: 60%;
}
.pct70 {
  width: 70%;
}
.pct80 {
  width: 80%;
}
.pct90 {
  width: 90%;
}
.pct100 {
  width: 100%;
}
.pct11 {
  width: 11.111%;
}
.pct22 {
  width: 22.222%;
}
.pct33 {
  width: 33.333%;
}
.pct44 {
  width: 44.444%;
}
.pct55 {
  width: 55.556%;
}
.pct66 {
  width: 66.667%;
}
.pct77 {
  width: 77.778%;
}
.pct88 {
  width: 88.889%;
}
.pct100 {
  width: 100%;
}
.pct12 {
  width: 12.5%;
}
.pct25 {
  width: 25%;
}
.pct37 {
  width: 37.5%;
}
.pct50 {
  width: 50%;
}
.pct62 {
  width: 62.5%;
}
.pct75 {
  width: 75%;
}
.pct87 {
  width: 87.5%;
}
.pct100 {
  width: 100%;
}
.pct16 {
  width: 16.667%;
}
.pct33 {
  width: 33.333%;
}
.pct50 {
  width: 50%;
}
.pct66 {
  width: 66.667%;
}
.pct83 {
  width: 83.333%;
}
.pct100 {
  width: 100%;
}
.pct20 {
  width: 20%;
}
.pct40 {
  width: 40%;
}
.pct60 {
  width: 60%;
}
.pct80 {
  width: 80%;
}
.pct100 {
  width: 100%;
}
.pct25 {
  width: 25%;
}
.pct50 {
  width: 50%;
}
.pct75 {
  width: 75%;
}
.pct100 {
  width: 100%;
}
.pct33 {
  width: 33.333%;
}
.pct66 {
  width: 66.667%;
}
.pct100 {
  width: 100%;
}
.pct50 {
  width: 50%;
}
.pct100 {
  width: 100%;
}
.w100 {
  width: 100px;
}
.w150 {
  width: 150px;
}
.w200 {
  width: 200px;
}
.w250 {
  width: 250px;
}
.w300 {
  width: 300px;
}
.w350 {
  width: 350px;
}
.w400 {
  width: 400px;
}
.w450 {
  width: 450px;
}
.w500 {
  width: 500px;
}
.w550 {
  width: 550px;
}
.w600 {
  width: 600px;
}
.w650 {
  width: 650px;
}
.w700 {
  width: 700px;
}
.w750 {
  width: 750px;
}
.w800 {
  width: 800px;
}
.w850 {
  width: 850px;
}
.w900 {
  width: 900px;
}
.w950 {
  width: 950px;
}
.w1000 {
  width: 1000px;
}
.h0 {
  height: 0px;
}
.h2 {
  height: 2px;
}
.h4 {
  height: 4px;
}
.h6 {
  height: 6px;
}
.h8 {
  height: 8px;
}
.h10 {
  height: 10px;
}
.h12 {
  height: 12px;
}
.h14 {
  height: 14px;
}
.h16 {
  height: 16px;
}
.h18 {
  height: 18px;
}
.h20 {
  height: 20px;
}
.h22 {
  height: 22px;
}
.h24 {
  height: 24px;
}
.h26 {
  height: 26px;
}
.h28 {
  height: 28px;
}
.h30 {
  height: 30px;
}
.h32 {
  height: 32px;
}
.h34 {
  height: 34px;
}
.h36 {
  height: 36px;
}
.h38 {
  height: 38px;
}
.h40 {
  height: 40px;
}
.h42 {
  height: 42px;
}
.h44 {
  height: 44px;
}
.h46 {
  height: 46px;
}
.h48 {
  height: 48px;
}
.h50 {
  height: 50px;
}
.h52 {
  height: 52px;
}
.h54 {
  height: 54px;
}
.h56 {
  height: 56px;
}
.h58 {
  height: 58px;
}
.h60 {
  height: 60px;
}
.h62 {
  height: 62px;
}
.h64 {
  height: 64px;
}
.h66 {
  height: 66px;
}
.h68 {
  height: 68px;
}
.h70 {
  height: 70px;
}
.h72 {
  height: 72px;
}
.h74 {
  height: 74px;
}
.h76 {
  height: 76px;
}
.h78 {
  height: 78px;
}
.h80 {
  height: 80px;
}
.h82 {
  height: 82px;
}
.h84 {
  height: 84px;
}
.h86 {
  height: 86px;
}
.h88 {
  height: 88px;
}
.h90 {
  height: 90px;
}
.h92 {
  height: 92px;
}
.h94 {
  height: 94px;
}
.h96 {
  height: 96px;
}
.h98 {
  height: 98px;
}
.h100 {
  height: 100px;
}
.h-pct20 {
  width: 20%;
}
.h-pct40 {
  width: 40%;
}
.h-pct60 {
  width: 60%;
}
.h-pct80 {
  width: 80%;
}
.h-pct100 {
  width: 100%;
}
.h-pct100 {
  width: 100%;
}
.h-pct80 {
  width: 80%;
}
.h-pct100 {
  width: 100%;
}
.h-pct60 {
  width: 60%;
}
.h-pct80 {
  width: 80%;
}
.h-pct100 {
  width: 100%;
}
.h-pct40 {
  width: 40%;
}
.h-pct60 {
  width: 60%;
}
.h-pct80 {
  width: 80%;
}
.h-pct100 {
  width: 100%;
}
.h-pct20 {
  width: 20%;
}
.h-pct40 {
  width: 40%;
}
.h-pct60 {
  width: 60%;
}
.h-pct80 {
  width: 80%;
}
.h-pct100 {
  width: 100%;
}
.h-pct25 {
  width: 25%;
}
.h-pct50 {
  width: 50%;
}
.h-pct75 {
  width: 75%;
}
.h-pct100 {
  width: 100%;
}
.h-pct100 {
  width: 100%;
}
.h-pct75 {
  width: 75%;
}
.h-pct100 {
  width: 100%;
}
.h-pct50 {
  width: 50%;
}
.h-pct75 {
  width: 75%;
}
.h-pct100 {
  width: 100%;
}
.h-pct25 {
  width: 25%;
}
.h-pct50 {
  width: 50%;
}
.h-pct75 {
  width: 75%;
}
.h-pct100 {
  width: 100%;
}
.h-pct33 {
  width: 33.333%;
}
.h-pct66 {
  width: 66.667%;
}
.h-pct100 {
  width: 100%;
}
.h-pct100 {
  width: 100%;
}
.h-pct66 {
  width: 66.667%;
}
.h-pct100 {
  width: 100%;
}
.h-pct33 {
  width: 33.333%;
}
.h-pct66 {
  width: 66.667%;
}
.h-pct100 {
  width: 100%;
}
.h-pct50 {
  width: 50%;
}
.h-pct100 {
  width: 100%;
}
.h-pct100 {
  width: 100%;
}
.h-pct50 {
  width: 50%;
}
.h-pct100 {
  width: 100%;
}
.h100 {
  height: 100px;
}
.h150 {
  height: 150px;
}
.h200 {
  height: 200px;
}
.h250 {
  height: 250px;
}
.h300 {
  height: 300px;
}
.h350 {
  height: 350px;
}
.h400 {
  height: 400px;
}
.h450 {
  height: 450px;
}
.h500 {
  height: 500px;
}
.h550 {
  height: 550px;
}
.h600 {
  height: 600px;
}
.h650 {
  height: 650px;
}
.h700 {
  height: 700px;
}
.h750 {
  height: 750px;
}
.h800 {
  height: 800px;
}
.h850 {
  height: 850px;
}
.h900 {
  height: 900px;
}
.h950 {
  height: 950px;
}
.h1000 {
  height: 1000px;
}
.lh0 {
  line-height: 0px;
}
.lh2 {
  line-height: 2px;
}
.lh4 {
  line-height: 4px;
}
.lh6 {
  line-height: 6px;
}
.lh8 {
  line-height: 8px;
}
.lh10 {
  line-height: 10px;
}
.lh12 {
  line-height: 12px;
}
.lh14 {
  line-height: 14px;
}
.lh16 {
  line-height: 16px;
}
.lh18 {
  line-height: 18px;
}
.lh20 {
  line-height: 20px;
}
.lh22 {
  line-height: 22px;
}
.lh24 {
  line-height: 24px;
}
.lh26 {
  line-height: 26px;
}
.lh28 {
  line-height: 28px;
}
.lh30 {
  line-height: 30px;
}
.lh32 {
  line-height: 32px;
}
.lh34 {
  line-height: 34px;
}
.lh36 {
  line-height: 36px;
}
.lh38 {
  line-height: 38px;
}
.lh40 {
  line-height: 40px;
}
.lh42 {
  line-height: 42px;
}
.lh44 {
  line-height: 44px;
}
.lh46 {
  line-height: 46px;
}
.lh48 {
  line-height: 48px;
}
.lh50 {
  line-height: 50px;
}
.lh52 {
  line-height: 52px;
}
.lh54 {
  line-height: 54px;
}
.lh56 {
  line-height: 56px;
}
.lh58 {
  line-height: 58px;
}
.lh60 {
  line-height: 60px;
}
.lh62 {
  line-height: 62px;
}
.lh64 {
  line-height: 64px;
}
.lh66 {
  line-height: 66px;
}
.lh68 {
  line-height: 68px;
}
.lh70 {
  line-height: 70px;
}
.lh72 {
  line-height: 72px;
}
.lh74 {
  line-height: 74px;
}
.lh76 {
  line-height: 76px;
}
.lh78 {
  line-height: 78px;
}
.lh80 {
  line-height: 80px;
}
.lh82 {
  line-height: 82px;
}
.lh84 {
  line-height: 84px;
}
.lh86 {
  line-height: 86px;
}
.lh88 {
  line-height: 88px;
}
.lh90 {
  line-height: 90px;
}
.lh92 {
  line-height: 92px;
}
.lh94 {
  line-height: 94px;
}
.lh96 {
  line-height: 96px;
}
.lh98 {
  line-height: 98px;
}
.lh100 {
  line-height: 100px;
}
.m1 {
  margin: 1px;
}
.m2 {
  margin: 2px;
}
.m3 {
  margin: 3px;
}
.m4 {
  margin: 4px;
}
.m5 {
  margin: 5px;
}
.m6 {
  margin: 6px;
}
.m7 {
  margin: 7px;
}
.m8 {
  margin: 8px;
}
.m9 {
  margin: 9px;
}
.m10 {
  margin: 10px;
}
.m11 {
  margin: 11px;
}
.m12 {
  margin: 12px;
}
.m13 {
  margin: 13px;
}
.m14 {
  margin: 14px;
}
.m15 {
  margin: 15px;
}
.m16 {
  margin: 16px;
}
.m17 {
  margin: 17px;
}
.m18 {
  margin: 18px;
}
.m19 {
  margin: 19px;
}
.m20 {
  margin: 20px;
}
.m21 {
  margin: 21px;
}
.m22 {
  margin: 22px;
}
.m23 {
  margin: 23px;
}
.m24 {
  margin: 24px;
}
.m25 {
  margin: 25px;
}
.m26 {
  margin: 26px;
}
.m27 {
  margin: 27px;
}
.m28 {
  margin: 28px;
}
.m29 {
  margin: 29px;
}
.m30 {
  margin: 30px;
}
.m31 {
  margin: 31px;
}
.m32 {
  margin: 32px;
}
.m33 {
  margin: 33px;
}
.m34 {
  margin: 34px;
}
.m35 {
  margin: 35px;
}
.m36 {
  margin: 36px;
}
.m37 {
  margin: 37px;
}
.m38 {
  margin: 38px;
}
.m39 {
  margin: 39px;
}
.m40 {
  margin: 40px;
}
.m41 {
  margin: 41px;
}
.m42 {
  margin: 42px;
}
.m43 {
  margin: 43px;
}
.m44 {
  margin: 44px;
}
.m45 {
  margin: 45px;
}
.m46 {
  margin: 46px;
}
.m47 {
  margin: 47px;
}
.m48 {
  margin: 48px;
}
.m49 {
  margin: 49px;
}
.ml1 {
  margin-left: 1px;
}
.ml2 {
  margin-left: 2px;
}
.ml3 {
  margin-left: 3px;
}
.ml4 {
  margin-left: 4px;
}
.ml5 {
  margin-left: 5px;
}
.ml6 {
  margin-left: 6px;
}
.ml7 {
  margin-left: 7px;
}
.ml8 {
  margin-left: 8px;
}
.ml9 {
  margin-left: 9px;
}
.ml10 {
  margin-left: 10px;
}
.ml11 {
  margin-left: 11px;
}
.ml12 {
  margin-left: 12px;
}
.ml13 {
  margin-left: 13px;
}
.ml14 {
  margin-left: 14px;
}
.ml15 {
  margin-left: 15px;
}
.ml16 {
  margin-left: 16px;
}
.ml17 {
  margin-left: 17px;
}
.ml18 {
  margin-left: 18px;
}
.ml19 {
  margin-left: 19px;
}
.ml20 {
  margin-left: 20px;
}
.ml21 {
  margin-left: 21px;
}
.ml22 {
  margin-left: 22px;
}
.ml23 {
  margin-left: 23px;
}
.ml24 {
  margin-left: 24px;
}
.ml25 {
  margin-left: 25px;
}
.ml26 {
  margin-left: 26px;
}
.ml27 {
  margin-left: 27px;
}
.ml28 {
  margin-left: 28px;
}
.ml29 {
  margin-left: 29px;
}
.ml30 {
  margin-left: 30px;
}
.ml31 {
  margin-left: 31px;
}
.ml32 {
  margin-left: 32px;
}
.ml33 {
  margin-left: 33px;
}
.ml34 {
  margin-left: 34px;
}
.ml35 {
  margin-left: 35px;
}
.ml36 {
  margin-left: 36px;
}
.ml37 {
  margin-left: 37px;
}
.ml38 {
  margin-left: 38px;
}
.ml39 {
  margin-left: 39px;
}
.ml40 {
  margin-left: 40px;
}
.ml41 {
  margin-left: 41px;
}
.ml42 {
  margin-left: 42px;
}
.ml43 {
  margin-left: 43px;
}
.ml44 {
  margin-left: 44px;
}
.ml45 {
  margin-left: 45px;
}
.ml46 {
  margin-left: 46px;
}
.ml47 {
  margin-left: 47px;
}
.ml48 {
  margin-left: 48px;
}
.ml49 {
  margin-left: 49px;
}
.mt1 {
  margin-top: 1px;
}
.mt2 {
  margin-top: 2px;
}
.mt3 {
  margin-top: 3px;
}
.mt4 {
  margin-top: 4px;
}
.mt5 {
  margin-top: 5px;
}
.mt6 {
  margin-top: 6px;
}
.mt7 {
  margin-top: 7px;
}
.mt8 {
  margin-top: 8px;
}
.mt9 {
  margin-top: 9px;
}
.mt10 {
  margin-top: 10px;
}
.mt11 {
  margin-top: 11px;
}
.mt12 {
  margin-top: 12px;
}
.mt13 {
  margin-top: 13px;
}
.mt14 {
  margin-top: 14px;
}
.mt15 {
  margin-top: 15px;
}
.mt16 {
  margin-top: 16px;
}
.mt17 {
  margin-top: 17px;
}
.mt18 {
  margin-top: 18px;
}
.mt19 {
  margin-top: 19px;
}
.mt20 {
  margin-top: 20px;
}
.mt21 {
  margin-top: 21px;
}
.mt22 {
  margin-top: 22px;
}
.mt23 {
  margin-top: 23px;
}
.mt24 {
  margin-top: 24px;
}
.mt25 {
  margin-top: 25px;
}
.mt26 {
  margin-top: 26px;
}
.mt27 {
  margin-top: 27px;
}
.mt28 {
  margin-top: 28px;
}
.mt29 {
  margin-top: 29px;
}
.mt30 {
  margin-top: 30px;
}
.mt31 {
  margin-top: 31px;
}
.mt32 {
  margin-top: 32px;
}
.mt33 {
  margin-top: 33px;
}
.mt34 {
  margin-top: 34px;
}
.mt35 {
  margin-top: 35px;
}
.mt36 {
  margin-top: 36px;
}
.mt37 {
  margin-top: 37px;
}
.mt38 {
  margin-top: 38px;
}
.mt39 {
  margin-top: 39px;
}
.mt40 {
  margin-top: 40px;
}
.mt41 {
  margin-top: 41px;
}
.mt42 {
  margin-top: 42px;
}
.mt43 {
  margin-top: 43px;
}
.mt44 {
  margin-top: 44px;
}
.mt45 {
  margin-top: 45px;
}
.mt46 {
  margin-top: 46px;
}
.mt47 {
  margin-top: 47px;
}
.mt48 {
  margin-top: 48px;
}
.mt49 {
  margin-top: 49px;
}
.mr1 {
  margin-right: 1px;
}
.mr2 {
  margin-right: 2px;
}
.mr3 {
  margin-right: 3px;
}
.mr4 {
  margin-right: 4px;
}
.mr5 {
  margin-right: 5px;
}
.mr6 {
  margin-right: 6px;
}
.mr7 {
  margin-right: 7px;
}
.mr8 {
  margin-right: 8px;
}
.mr9 {
  margin-right: 9px;
}
.mr10 {
  margin-right: 10px;
}
.mr11 {
  margin-right: 11px;
}
.mr12 {
  margin-right: 12px;
}
.mr13 {
  margin-right: 13px;
}
.mr14 {
  margin-right: 14px;
}
.mr15 {
  margin-right: 15px;
}
.mr16 {
  margin-right: 16px;
}
.mr17 {
  margin-right: 17px;
}
.mr18 {
  margin-right: 18px;
}
.mr19 {
  margin-right: 19px;
}
.mr20 {
  margin-right: 20px;
}
.mr21 {
  margin-right: 21px;
}
.mr22 {
  margin-right: 22px;
}
.mr23 {
  margin-right: 23px;
}
.mr24 {
  margin-right: 24px;
}
.mr25 {
  margin-right: 25px;
}
.mr26 {
  margin-right: 26px;
}
.mr27 {
  margin-right: 27px;
}
.mr28 {
  margin-right: 28px;
}
.mr29 {
  margin-right: 29px;
}
.mr30 {
  margin-right: 30px;
}
.mr31 {
  margin-right: 31px;
}
.mr32 {
  margin-right: 32px;
}
.mr33 {
  margin-right: 33px;
}
.mr34 {
  margin-right: 34px;
}
.mr35 {
  margin-right: 35px;
}
.mr36 {
  margin-right: 36px;
}
.mr37 {
  margin-right: 37px;
}
.mr38 {
  margin-right: 38px;
}
.mr39 {
  margin-right: 39px;
}
.mr40 {
  margin-right: 40px;
}
.mr41 {
  margin-right: 41px;
}
.mr42 {
  margin-right: 42px;
}
.mr43 {
  margin-right: 43px;
}
.mr44 {
  margin-right: 44px;
}
.mr45 {
  margin-right: 45px;
}
.mr46 {
  margin-right: 46px;
}
.mr47 {
  margin-right: 47px;
}
.mr48 {
  margin-right: 48px;
}
.mr49 {
  margin-right: 49px;
}
.mb1 {
  margin-bottom: 1px;
}
.mb2 {
  margin-bottom: 2px;
}
.mb3 {
  margin-bottom: 3px;
}
.mb4 {
  margin-bottom: 4px;
}
.mb5 {
  margin-bottom: 5px;
}
.mb6 {
  margin-bottom: 6px;
}
.mb7 {
  margin-bottom: 7px;
}
.mb8 {
  margin-bottom: 8px;
}
.mb9 {
  margin-bottom: 9px;
}
.mb10 {
  margin-bottom: 10px;
}
.mb11 {
  margin-bottom: 11px;
}
.mb12 {
  margin-bottom: 12px;
}
.mb13 {
  margin-bottom: 13px;
}
.mb14 {
  margin-bottom: 14px;
}
.mb15 {
  margin-bottom: 15px;
}
.mb16 {
  margin-bottom: 16px;
}
.mb17 {
  margin-bottom: 17px;
}
.mb18 {
  margin-bottom: 18px;
}
.mb19 {
  margin-bottom: 19px;
}
.mb20 {
  margin-bottom: 20px;
}
.mb21 {
  margin-bottom: 21px;
}
.mb22 {
  margin-bottom: 22px;
}
.mb23 {
  margin-bottom: 23px;
}
.mb24 {
  margin-bottom: 24px;
}
.mb25 {
  margin-bottom: 25px;
}
.mb26 {
  margin-bottom: 26px;
}
.mb27 {
  margin-bottom: 27px;
}
.mb28 {
  margin-bottom: 28px;
}
.mb29 {
  margin-bottom: 29px;
}
.mb30 {
  margin-bottom: 30px;
}
.mb31 {
  margin-bottom: 31px;
}
.mb32 {
  margin-bottom: 32px;
}
.mb33 {
  margin-bottom: 33px;
}
.mb34 {
  margin-bottom: 34px;
}
.mb35 {
  margin-bottom: 35px;
}
.mb36 {
  margin-bottom: 36px;
}
.mb37 {
  margin-bottom: 37px;
}
.mb38 {
  margin-bottom: 38px;
}
.mb39 {
  margin-bottom: 39px;
}
.mb40 {
  margin-bottom: 40px;
}
.mb41 {
  margin-bottom: 41px;
}
.mb42 {
  margin-bottom: 42px;
}
.mb43 {
  margin-bottom: 43px;
}
.mb44 {
  margin-bottom: 44px;
}
.mb45 {
  margin-bottom: 45px;
}
.mb46 {
  margin-bottom: 46px;
}
.mb47 {
  margin-bottom: 47px;
}
.mb48 {
  margin-bottom: 48px;
}
.mb49 {
  margin-bottom: 49px;
}
.m50 {
  margin: 50px;
}
.m52 {
  margin: 52px;
}
.m54 {
  margin: 54px;
}
.m56 {
  margin: 56px;
}
.m58 {
  margin: 58px;
}
.m60 {
  margin: 60px;
}
.m62 {
  margin: 62px;
}
.m64 {
  margin: 64px;
}
.m66 {
  margin: 66px;
}
.m68 {
  margin: 68px;
}
.m70 {
  margin: 70px;
}
.m72 {
  margin: 72px;
}
.m74 {
  margin: 74px;
}
.m76 {
  margin: 76px;
}
.m78 {
  margin: 78px;
}
.m80 {
  margin: 80px;
}
.m82 {
  margin: 82px;
}
.m84 {
  margin: 84px;
}
.m86 {
  margin: 86px;
}
.m88 {
  margin: 88px;
}
.m90 {
  margin: 90px;
}
.m92 {
  margin: 92px;
}
.m94 {
  margin: 94px;
}
.m96 {
  margin: 96px;
}
.m98 {
  margin: 98px;
}
.m100 {
  margin: 100px;
}
.ml50 {
  margin-left: 50px;
}
.ml52 {
  margin-left: 52px;
}
.ml54 {
  margin-left: 54px;
}
.ml56 {
  margin-left: 56px;
}
.ml58 {
  margin-left: 58px;
}
.ml60 {
  margin-left: 60px;
}
.ml62 {
  margin-left: 62px;
}
.ml64 {
  margin-left: 64px;
}
.ml66 {
  margin-left: 66px;
}
.ml68 {
  margin-left: 68px;
}
.ml70 {
  margin-left: 70px;
}
.ml72 {
  margin-left: 72px;
}
.ml74 {
  margin-left: 74px;
}
.ml76 {
  margin-left: 76px;
}
.ml78 {
  margin-left: 78px;
}
.ml80 {
  margin-left: 80px;
}
.ml82 {
  margin-left: 82px;
}
.ml84 {
  margin-left: 84px;
}
.ml86 {
  margin-left: 86px;
}
.ml88 {
  margin-left: 88px;
}
.ml90 {
  margin-left: 90px;
}
.ml92 {
  margin-left: 92px;
}
.ml94 {
  margin-left: 94px;
}
.ml96 {
  margin-left: 96px;
}
.ml98 {
  margin-left: 98px;
}
.ml100 {
  margin-left: 100px;
}
.mt50 {
  margin-top: 50px;
}
.mt52 {
  margin-top: 52px;
}
.mt54 {
  margin-top: 54px;
}
.mt56 {
  margin-top: 56px;
}
.mt58 {
  margin-top: 58px;
}
.mt60 {
  margin-top: 60px;
}
.mt62 {
  margin-top: 62px;
}
.mt64 {
  margin-top: 64px;
}
.mt66 {
  margin-top: 66px;
}
.mt68 {
  margin-top: 68px;
}
.mt70 {
  margin-top: 70px;
}
.mt72 {
  margin-top: 72px;
}
.mt74 {
  margin-top: 74px;
}
.mt76 {
  margin-top: 76px;
}
.mt78 {
  margin-top: 78px;
}
.mt80 {
  margin-top: 80px;
}
.mt82 {
  margin-top: 82px;
}
.mt84 {
  margin-top: 84px;
}
.mt86 {
  margin-top: 86px;
}
.mt88 {
  margin-top: 88px;
}
.mt90 {
  margin-top: 90px;
}
.mt92 {
  margin-top: 92px;
}
.mt94 {
  margin-top: 94px;
}
.mt96 {
  margin-top: 96px;
}
.mt98 {
  margin-top: 98px;
}
.mt100 {
  margin-top: 100px;
}
.mr50 {
  margin-right: 50px;
}
.mr52 {
  margin-right: 52px;
}
.mr54 {
  margin-right: 54px;
}
.mr56 {
  margin-right: 56px;
}
.mr58 {
  margin-right: 58px;
}
.mr60 {
  margin-right: 60px;
}
.mr62 {
  margin-right: 62px;
}
.mr64 {
  margin-right: 64px;
}
.mr66 {
  margin-right: 66px;
}
.mr68 {
  margin-right: 68px;
}
.mr70 {
  margin-right: 70px;
}
.mr72 {
  margin-right: 72px;
}
.mr74 {
  margin-right: 74px;
}
.mr76 {
  margin-right: 76px;
}
.mr78 {
  margin-right: 78px;
}
.mr80 {
  margin-right: 80px;
}
.mr82 {
  margin-right: 82px;
}
.mr84 {
  margin-right: 84px;
}
.mr86 {
  margin-right: 86px;
}
.mr88 {
  margin-right: 88px;
}
.mr90 {
  margin-right: 90px;
}
.mr92 {
  margin-right: 92px;
}
.mr94 {
  margin-right: 94px;
}
.mr96 {
  margin-right: 96px;
}
.mr98 {
  margin-right: 98px;
}
.mr100 {
  margin-right: 100px;
}
.mb50 {
  margin-bottom: 50px;
}
.mb52 {
  margin-bottom: 52px;
}
.mb54 {
  margin-bottom: 54px;
}
.mb56 {
  margin-bottom: 56px;
}
.mb58 {
  margin-bottom: 58px;
}
.mb60 {
  margin-bottom: 60px;
}
.mb62 {
  margin-bottom: 62px;
}
.mb64 {
  margin-bottom: 64px;
}
.mb66 {
  margin-bottom: 66px;
}
.mb68 {
  margin-bottom: 68px;
}
.mb70 {
  margin-bottom: 70px;
}
.mb72 {
  margin-bottom: 72px;
}
.mb74 {
  margin-bottom: 74px;
}
.mb76 {
  margin-bottom: 76px;
}
.mb78 {
  margin-bottom: 78px;
}
.mb80 {
  margin-bottom: 80px;
}
.mb82 {
  margin-bottom: 82px;
}
.mb84 {
  margin-bottom: 84px;
}
.mb86 {
  margin-bottom: 86px;
}
.mb88 {
  margin-bottom: 88px;
}
.mb90 {
  margin-bottom: 90px;
}
.mb92 {
  margin-bottom: 92px;
}
.mb94 {
  margin-bottom: 94px;
}
.mb96 {
  margin-bottom: 96px;
}
.mb98 {
  margin-bottom: 98px;
}
.mb100 {
  margin-bottom: 100px;
}
.m-1 {
  margin: -1px;
}
.m-2 {
  margin: -2px;
}
.m-3 {
  margin: -3px;
}
.m-4 {
  margin: -4px;
}
.m-5 {
  margin: -5px;
}
.m-6 {
  margin: -6px;
}
.m-7 {
  margin: -7px;
}
.m-8 {
  margin: -8px;
}
.m-9 {
  margin: -9px;
}
.m-10 {
  margin: -10px;
}
.m-11 {
  margin: -11px;
}
.m-12 {
  margin: -12px;
}
.m-13 {
  margin: -13px;
}
.m-14 {
  margin: -14px;
}
.m-15 {
  margin: -15px;
}
.m-16 {
  margin: -16px;
}
.m-17 {
  margin: -17px;
}
.m-18 {
  margin: -18px;
}
.m-19 {
  margin: -19px;
}
.m-20 {
  margin: -20px;
}
.ml-1 {
  margin-left: -1px;
}
.ml-2 {
  margin-left: -2px;
}
.ml-3 {
  margin-left: -3px;
}
.ml-4 {
  margin-left: -4px;
}
.ml-5 {
  margin-left: -5px;
}
.ml-6 {
  margin-left: -6px;
}
.ml-7 {
  margin-left: -7px;
}
.ml-8 {
  margin-left: -8px;
}
.ml-9 {
  margin-left: -9px;
}
.ml-10 {
  margin-left: -10px;
}
.ml-11 {
  margin-left: -11px;
}
.ml-12 {
  margin-left: -12px;
}
.ml-13 {
  margin-left: -13px;
}
.ml-14 {
  margin-left: -14px;
}
.ml-15 {
  margin-left: -15px;
}
.ml-16 {
  margin-left: -16px;
}
.ml-17 {
  margin-left: -17px;
}
.ml-18 {
  margin-left: -18px;
}
.ml-19 {
  margin-left: -19px;
}
.ml-20 {
  margin-left: -20px;
}
.mt-1 {
  margin-top: -1px;
}
.mt-2 {
  margin-top: -2px;
}
.mt-3 {
  margin-top: -3px;
}
.mt-4 {
  margin-top: -4px;
}
.mt-5 {
  margin-top: -5px;
}
.mt-6 {
  margin-top: -6px;
}
.mt-7 {
  margin-top: -7px;
}
.mt-8 {
  margin-top: -8px;
}
.mt-9 {
  margin-top: -9px;
}
.mt-10 {
  margin-top: -10px;
}
.mt-11 {
  margin-top: -11px;
}
.mt-12 {
  margin-top: -12px;
}
.mt-13 {
  margin-top: -13px;
}
.mt-14 {
  margin-top: -14px;
}
.mt-15 {
  margin-top: -15px;
}
.mt-16 {
  margin-top: -16px;
}
.mt-17 {
  margin-top: -17px;
}
.mt-18 {
  margin-top: -18px;
}
.mt-19 {
  margin-top: -19px;
}
.mt-20 {
  margin-top: -20px;
}
.mr-1 {
  margin-right: -1px;
}
.mr-2 {
  margin-right: -2px;
}
.mr-3 {
  margin-right: -3px;
}
.mr-4 {
  margin-right: -4px;
}
.mr-5 {
  margin-right: -5px;
}
.mr-6 {
  margin-right: -6px;
}
.mr-7 {
  margin-right: -7px;
}
.mr-8 {
  margin-right: -8px;
}
.mr-9 {
  margin-right: -9px;
}
.mr-10 {
  margin-right: -10px;
}
.mr-11 {
  margin-right: -11px;
}
.mr-12 {
  margin-right: -12px;
}
.mr-13 {
  margin-right: -13px;
}
.mr-14 {
  margin-right: -14px;
}
.mr-15 {
  margin-right: -15px;
}
.mr-16 {
  margin-right: -16px;
}
.mr-17 {
  margin-right: -17px;
}
.mr-18 {
  margin-right: -18px;
}
.mr-19 {
  margin-right: -19px;
}
.mr-20 {
  margin-right: -20px;
}
.mb-1 {
  margin-bottom: -1px;
}
.mb-2 {
  margin-bottom: -2px;
}
.mb-3 {
  margin-bottom: -3px;
}
.mb-4 {
  margin-bottom: -4px;
}
.mb-5 {
  margin-bottom: -5px;
}
.mb-6 {
  margin-bottom: -6px;
}
.mb-7 {
  margin-bottom: -7px;
}
.mb-8 {
  margin-bottom: -8px;
}
.mb-9 {
  margin-bottom: -9px;
}
.mb-10 {
  margin-bottom: -10px;
}
.mb-11 {
  margin-bottom: -11px;
}
.mb-12 {
  margin-bottom: -12px;
}
.mb-13 {
  margin-bottom: -13px;
}
.mb-14 {
  margin-bottom: -14px;
}
.mb-15 {
  margin-bottom: -15px;
}
.mb-16 {
  margin-bottom: -16px;
}
.mb-17 {
  margin-bottom: -17px;
}
.mb-18 {
  margin-bottom: -18px;
}
.mb-19 {
  margin-bottom: -19px;
}
.mb-20 {
  margin-bottom: -20px;
}
.p1 {
  padding: 1px;
}
.p2 {
  padding: 2px;
}
.p3 {
  padding: 3px;
}
.p4 {
  padding: 4px;
}
.p5 {
  padding: 5px;
}
.p6 {
  padding: 6px;
}
.p7 {
  padding: 7px;
}
.p8 {
  padding: 8px;
}
.p9 {
  padding: 9px;
}
.p10 {
  padding: 10px;
}
.p11 {
  padding: 11px;
}
.p12 {
  padding: 12px;
}
.p13 {
  padding: 13px;
}
.p14 {
  padding: 14px;
}
.p15 {
  padding: 15px;
}
.p16 {
  padding: 16px;
}
.p17 {
  padding: 17px;
}
.p18 {
  padding: 18px;
}
.p19 {
  padding: 19px;
}
.p20 {
  padding: 20px;
}
.p21 {
  padding: 21px;
}
.p22 {
  padding: 22px;
}
.p23 {
  padding: 23px;
}
.p24 {
  padding: 24px;
}
.p25 {
  padding: 25px;
}
.p26 {
  padding: 26px;
}
.p27 {
  padding: 27px;
}
.p28 {
  padding: 28px;
}
.p29 {
  padding: 29px;
}
.p30 {
  padding: 30px;
}
.p31 {
  padding: 31px;
}
.p32 {
  padding: 32px;
}
.p33 {
  padding: 33px;
}
.p34 {
  padding: 34px;
}
.p35 {
  padding: 35px;
}
.p36 {
  padding: 36px;
}
.p37 {
  padding: 37px;
}
.p38 {
  padding: 38px;
}
.p39 {
  padding: 39px;
}
.p40 {
  padding: 40px;
}
.p41 {
  padding: 41px;
}
.p42 {
  padding: 42px;
}
.p43 {
  padding: 43px;
}
.p44 {
  padding: 44px;
}
.p45 {
  padding: 45px;
}
.p46 {
  padding: 46px;
}
.p47 {
  padding: 47px;
}
.p48 {
  padding: 48px;
}
.p49 {
  padding: 49px;
}
.pl1 {
  padding-left: 1px;
}
.pl2 {
  padding-left: 2px;
}
.pl3 {
  padding-left: 3px;
}
.pl4 {
  padding-left: 4px;
}
.pl5 {
  padding-left: 5px;
}
.pl6 {
  padding-left: 6px;
}
.pl7 {
  padding-left: 7px;
}
.pl8 {
  padding-left: 8px;
}
.pl9 {
  padding-left: 9px;
}
.pl10 {
  padding-left: 10px;
}
.pl11 {
  padding-left: 11px;
}
.pl12 {
  padding-left: 12px;
}
.pl13 {
  padding-left: 13px;
}
.pl14 {
  padding-left: 14px;
}
.pl15 {
  padding-left: 15px;
}
.pl16 {
  padding-left: 16px;
}
.pl17 {
  padding-left: 17px;
}
.pl18 {
  padding-left: 18px;
}
.pl19 {
  padding-left: 19px;
}
.pl20 {
  padding-left: 20px;
}
.pl21 {
  padding-left: 21px;
}
.pl22 {
  padding-left: 22px;
}
.pl23 {
  padding-left: 23px;
}
.pl24 {
  padding-left: 24px;
}
.pl25 {
  padding-left: 25px;
}
.pl26 {
  padding-left: 26px;
}
.pl27 {
  padding-left: 27px;
}
.pl28 {
  padding-left: 28px;
}
.pl29 {
  padding-left: 29px;
}
.pl30 {
  padding-left: 30px;
}
.pl31 {
  padding-left: 31px;
}
.pl32 {
  padding-left: 32px;
}
.pl33 {
  padding-left: 33px;
}
.pl34 {
  padding-left: 34px;
}
.pl35 {
  padding-left: 35px;
}
.pl36 {
  padding-left: 36px;
}
.pl37 {
  padding-left: 37px;
}
.pl38 {
  padding-left: 38px;
}
.pl39 {
  padding-left: 39px;
}
.pl40 {
  padding-left: 40px;
}
.pl41 {
  padding-left: 41px;
}
.pl42 {
  padding-left: 42px;
}
.pl43 {
  padding-left: 43px;
}
.pl44 {
  padding-left: 44px;
}
.pl45 {
  padding-left: 45px;
}
.pl46 {
  padding-left: 46px;
}
.pl47 {
  padding-left: 47px;
}
.pl48 {
  padding-left: 48px;
}
.pl49 {
  padding-left: 49px;
}
.pt1 {
  padding-top: 1px;
}
.pt2 {
  padding-top: 2px;
}
.pt3 {
  padding-top: 3px;
}
.pt4 {
  padding-top: 4px;
}
.pt5 {
  padding-top: 5px;
}
.pt6 {
  padding-top: 6px;
}
.pt7 {
  padding-top: 7px;
}
.pt8 {
  padding-top: 8px;
}
.pt9 {
  padding-top: 9px;
}
.pt10 {
  padding-top: 10px;
}
.pt11 {
  padding-top: 11px;
}
.pt12 {
  padding-top: 12px;
}
.pt13 {
  padding-top: 13px;
}
.pt14 {
  padding-top: 14px;
}
.pt15 {
  padding-top: 15px;
}
.pt16 {
  padding-top: 16px;
}
.pt17 {
  padding-top: 17px;
}
.pt18 {
  padding-top: 18px;
}
.pt19 {
  padding-top: 19px;
}
.pt20 {
  padding-top: 20px;
}
.pt21 {
  padding-top: 21px;
}
.pt22 {
  padding-top: 22px;
}
.pt23 {
  padding-top: 23px;
}
.pt24 {
  padding-top: 24px;
}
.pt25 {
  padding-top: 25px;
}
.pt26 {
  padding-top: 26px;
}
.pt27 {
  padding-top: 27px;
}
.pt28 {
  padding-top: 28px;
}
.pt29 {
  padding-top: 29px;
}
.pt30 {
  padding-top: 30px;
}
.pt31 {
  padding-top: 31px;
}
.pt32 {
  padding-top: 32px;
}
.pt33 {
  padding-top: 33px;
}
.pt34 {
  padding-top: 34px;
}
.pt35 {
  padding-top: 35px;
}
.pt36 {
  padding-top: 36px;
}
.pt37 {
  padding-top: 37px;
}
.pt38 {
  padding-top: 38px;
}
.pt39 {
  padding-top: 39px;
}
.pt40 {
  padding-top: 40px;
}
.pt41 {
  padding-top: 41px;
}
.pt42 {
  padding-top: 42px;
}
.pt43 {
  padding-top: 43px;
}
.pt44 {
  padding-top: 44px;
}
.pt45 {
  padding-top: 45px;
}
.pt46 {
  padding-top: 46px;
}
.pt47 {
  padding-top: 47px;
}
.pt48 {
  padding-top: 48px;
}
.pt49 {
  padding-top: 49px;
}
.pr1 {
  padding-right: 1px;
}
.pr2 {
  padding-right: 2px;
}
.pr3 {
  padding-right: 3px;
}
.pr4 {
  padding-right: 4px;
}
.pr5 {
  padding-right: 5px;
}
.pr6 {
  padding-right: 6px;
}
.pr7 {
  padding-right: 7px;
}
.pr8 {
  padding-right: 8px;
}
.pr9 {
  padding-right: 9px;
}
.pr10 {
  padding-right: 10px;
}
.pr11 {
  padding-right: 11px;
}
.pr12 {
  padding-right: 12px;
}
.pr13 {
  padding-right: 13px;
}
.pr14 {
  padding-right: 14px;
}
.pr15 {
  padding-right: 15px;
}
.pr16 {
  padding-right: 16px;
}
.pr17 {
  padding-right: 17px;
}
.pr18 {
  padding-right: 18px;
}
.pr19 {
  padding-right: 19px;
}
.pr20 {
  padding-right: 20px;
}
.pr21 {
  padding-right: 21px;
}
.pr22 {
  padding-right: 22px;
}
.pr23 {
  padding-right: 23px;
}
.pr24 {
  padding-right: 24px;
}
.pr25 {
  padding-right: 25px;
}
.pr26 {
  padding-right: 26px;
}
.pr27 {
  padding-right: 27px;
}
.pr28 {
  padding-right: 28px;
}
.pr29 {
  padding-right: 29px;
}
.pr30 {
  padding-right: 30px;
}
.pr31 {
  padding-right: 31px;
}
.pr32 {
  padding-right: 32px;
}
.pr33 {
  padding-right: 33px;
}
.pr34 {
  padding-right: 34px;
}
.pr35 {
  padding-right: 35px;
}
.pr36 {
  padding-right: 36px;
}
.pr37 {
  padding-right: 37px;
}
.pr38 {
  padding-right: 38px;
}
.pr39 {
  padding-right: 39px;
}
.pr40 {
  padding-right: 40px;
}
.pr41 {
  padding-right: 41px;
}
.pr42 {
  padding-right: 42px;
}
.pr43 {
  padding-right: 43px;
}
.pr44 {
  padding-right: 44px;
}
.pr45 {
  padding-right: 45px;
}
.pr46 {
  padding-right: 46px;
}
.pr47 {
  padding-right: 47px;
}
.pr48 {
  padding-right: 48px;
}
.pr49 {
  padding-right: 49px;
}
.pb1 {
  padding-bottom: 1px;
}
.pb2 {
  padding-bottom: 2px;
}
.pb3 {
  padding-bottom: 3px;
}
.pb4 {
  padding-bottom: 4px;
}
.pb5 {
  padding-bottom: 5px;
}
.pb6 {
  padding-bottom: 6px;
}
.pb7 {
  padding-bottom: 7px;
}
.pb8 {
  padding-bottom: 8px;
}
.pb9 {
  padding-bottom: 9px;
}
.pb10 {
  padding-bottom: 10px;
}
.pb11 {
  padding-bottom: 11px;
}
.pb12 {
  padding-bottom: 12px;
}
.pb13 {
  padding-bottom: 13px;
}
.pb14 {
  padding-bottom: 14px;
}
.pb15 {
  padding-bottom: 15px;
}
.pb16 {
  padding-bottom: 16px;
}
.pb17 {
  padding-bottom: 17px;
}
.pb18 {
  padding-bottom: 18px;
}
.pb19 {
  padding-bottom: 19px;
}
.pb20 {
  padding-bottom: 20px;
}
.pb21 {
  padding-bottom: 21px;
}
.pb22 {
  padding-bottom: 22px;
}
.pb23 {
  padding-bottom: 23px;
}
.pb24 {
  padding-bottom: 24px;
}
.pb25 {
  padding-bottom: 25px;
}
.pb26 {
  padding-bottom: 26px;
}
.pb27 {
  padding-bottom: 27px;
}
.pb28 {
  padding-bottom: 28px;
}
.pb29 {
  padding-bottom: 29px;
}
.pb30 {
  padding-bottom: 30px;
}
.pb31 {
  padding-bottom: 31px;
}
.pb32 {
  padding-bottom: 32px;
}
.pb33 {
  padding-bottom: 33px;
}
.pb34 {
  padding-bottom: 34px;
}
.pb35 {
  padding-bottom: 35px;
}
.pb36 {
  padding-bottom: 36px;
}
.pb37 {
  padding-bottom: 37px;
}
.pb38 {
  padding-bottom: 38px;
}
.pb39 {
  padding-bottom: 39px;
}
.pb40 {
  padding-bottom: 40px;
}
.pb41 {
  padding-bottom: 41px;
}
.pb42 {
  padding-bottom: 42px;
}
.pb43 {
  padding-bottom: 43px;
}
.pb44 {
  padding-bottom: 44px;
}
.pb45 {
  padding-bottom: 45px;
}
.pb46 {
  padding-bottom: 46px;
}
.pb47 {
  padding-bottom: 47px;
}
.pb48 {
  padding-bottom: 48px;
}
.pb49 {
  padding-bottom: 49px;
}
.p50 {
  padding: 50px;
}
.p52 {
  padding: 52px;
}
.p54 {
  padding: 54px;
}
.p56 {
  padding: 56px;
}
.p58 {
  padding: 58px;
}
.p60 {
  padding: 60px;
}
.p62 {
  padding: 62px;
}
.p64 {
  padding: 64px;
}
.p66 {
  padding: 66px;
}
.p68 {
  padding: 68px;
}
.p70 {
  padding: 70px;
}
.p72 {
  padding: 72px;
}
.p74 {
  padding: 74px;
}
.p76 {
  padding: 76px;
}
.p78 {
  padding: 78px;
}
.p80 {
  padding: 80px;
}
.p82 {
  padding: 82px;
}
.p84 {
  padding: 84px;
}
.p86 {
  padding: 86px;
}
.p88 {
  padding: 88px;
}
.p90 {
  padding: 90px;
}
.p92 {
  padding: 92px;
}
.p94 {
  padding: 94px;
}
.p96 {
  padding: 96px;
}
.p98 {
  padding: 98px;
}
.p100 {
  padding: 100px;
}
.pl50 {
  padding-left: 50px;
}
.pl52 {
  padding-left: 52px;
}
.pl54 {
  padding-left: 54px;
}
.pl56 {
  padding-left: 56px;
}
.pl58 {
  padding-left: 58px;
}
.pl60 {
  padding-left: 60px;
}
.pl62 {
  padding-left: 62px;
}
.pl64 {
  padding-left: 64px;
}
.pl66 {
  padding-left: 66px;
}
.pl68 {
  padding-left: 68px;
}
.pl70 {
  padding-left: 70px;
}
.pl72 {
  padding-left: 72px;
}
.pl74 {
  padding-left: 74px;
}
.pl76 {
  padding-left: 76px;
}
.pl78 {
  padding-left: 78px;
}
.pl80 {
  padding-left: 80px;
}
.pl82 {
  padding-left: 82px;
}
.pl84 {
  padding-left: 84px;
}
.pl86 {
  padding-left: 86px;
}
.pl88 {
  padding-left: 88px;
}
.pl90 {
  padding-left: 90px;
}
.pl92 {
  padding-left: 92px;
}
.pl94 {
  padding-left: 94px;
}
.pl96 {
  padding-left: 96px;
}
.pl98 {
  padding-left: 98px;
}
.pl100 {
  padding-left: 100px;
}
.pt50 {
  padding-top: 50px;
}
.pt52 {
  padding-top: 52px;
}
.pt54 {
  padding-top: 54px;
}
.pt56 {
  padding-top: 56px;
}
.pt58 {
  padding-top: 58px;
}
.pt60 {
  padding-top: 60px;
}
.pt62 {
  padding-top: 62px;
}
.pt64 {
  padding-top: 64px;
}
.pt66 {
  padding-top: 66px;
}
.pt68 {
  padding-top: 68px;
}
.pt70 {
  padding-top: 70px;
}
.pt72 {
  padding-top: 72px;
}
.pt74 {
  padding-top: 74px;
}
.pt76 {
  padding-top: 76px;
}
.pt78 {
  padding-top: 78px;
}
.pt80 {
  padding-top: 80px;
}
.pt82 {
  padding-top: 82px;
}
.pt84 {
  padding-top: 84px;
}
.pt86 {
  padding-top: 86px;
}
.pt88 {
  padding-top: 88px;
}
.pt90 {
  padding-top: 90px;
}
.pt92 {
  padding-top: 92px;
}
.pt94 {
  padding-top: 94px;
}
.pt96 {
  padding-top: 96px;
}
.pt98 {
  padding-top: 98px;
}
.pt100 {
  padding-top: 100px;
}
.pr50 {
  padding-right: 50px;
}
.pr52 {
  padding-right: 52px;
}
.pr54 {
  padding-right: 54px;
}
.pr56 {
  padding-right: 56px;
}
.pr58 {
  padding-right: 58px;
}
.pr60 {
  padding-right: 60px;
}
.pr62 {
  padding-right: 62px;
}
.pr64 {
  padding-right: 64px;
}
.pr66 {
  padding-right: 66px;
}
.pr68 {
  padding-right: 68px;
}
.pr70 {
  padding-right: 70px;
}
.pr72 {
  padding-right: 72px;
}
.pr74 {
  padding-right: 74px;
}
.pr76 {
  padding-right: 76px;
}
.pr78 {
  padding-right: 78px;
}
.pr80 {
  padding-right: 80px;
}
.pr82 {
  padding-right: 82px;
}
.pr84 {
  padding-right: 84px;
}
.pr86 {
  padding-right: 86px;
}
.pr88 {
  padding-right: 88px;
}
.pr90 {
  padding-right: 90px;
}
.pr92 {
  padding-right: 92px;
}
.pr94 {
  padding-right: 94px;
}
.pr96 {
  padding-right: 96px;
}
.pr98 {
  padding-right: 98px;
}
.pr100 {
  padding-right: 100px;
}
.pb50 {
  padding-bottom: 50px;
}
.pb52 {
  padding-bottom: 52px;
}
.pb54 {
  padding-bottom: 54px;
}
.pb56 {
  padding-bottom: 56px;
}
.pb58 {
  padding-bottom: 58px;
}
.pb60 {
  padding-bottom: 60px;
}
.pb62 {
  padding-bottom: 62px;
}
.pb64 {
  padding-bottom: 64px;
}
.pb66 {
  padding-bottom: 66px;
}
.pb68 {
  padding-bottom: 68px;
}
.pb70 {
  padding-bottom: 70px;
}
.pb72 {
  padding-bottom: 72px;
}
.pb74 {
  padding-bottom: 74px;
}
.pb76 {
  padding-bottom: 76px;
}
.pb78 {
  padding-bottom: 78px;
}
.pb80 {
  padding-bottom: 80px;
}
.pb82 {
  padding-bottom: 82px;
}
.pb84 {
  padding-bottom: 84px;
}
.pb86 {
  padding-bottom: 86px;
}
.pb88 {
  padding-bottom: 88px;
}
.pb90 {
  padding-bottom: 90px;
}
.pb92 {
  padding-bottom: 92px;
}
.pb94 {
  padding-bottom: 94px;
}
.pb96 {
  padding-bottom: 96px;
}
.pb98 {
  padding-bottom: 98px;
}
.pb100 {
  padding-bottom: 100px;
}
.df {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
.dif {
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
}
.fdr {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
}
.fdrr {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
  -webkit-flex-direction: row-reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}
.fdc {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
}
.fdcr {
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
  -webkit-flex-direction: column-reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
}
.fwn {
  -webkit-flex-wrap: nowrap;
      -ms-flex-wrap: nowrap;
          flex-wrap: nowrap;
}
.fww {
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
}
.fwr {
  -webkit-flex-wrap: wrap-reverse;
      -ms-flex-wrap: wrap-reverse;
          flex-wrap: wrap-reverse;
}
.jcfs {
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}
.jcfe {
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
.jcc {
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.jcsb {
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.jcsa {
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around;
}
.aifs {
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
              -ms-grid-row-align: flex-start;
          align-items: flex-start;
}
.aife {
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
      -ms-flex-align: end;
              -ms-grid-row-align: flex-end;
          align-items: flex-end;
}
.aic {
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
              -ms-grid-row-align: center;
          align-items: center;
}
.aib {
  -webkit-box-align: baseline;
  -webkit-align-items: baseline;
      -ms-flex-align: baseline;
              -ms-grid-row-align: baseline;
          align-items: baseline;
}
.ais {
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
      -ms-flex-align: stretch;
              -ms-grid-row-align: stretch;
          align-items: stretch;
}
.ass {
  -webkit-align-self: stretch;
      -ms-flex-item-align: stretch;
          align-self: stretch;
}
.asa {
  -webkit-align-self: auto;
      -ms-flex-item-align: auto;
          align-self: auto;
}
.asb {
  -webkit-align-self: baseline;
      -ms-flex-item-align: baseline;
          align-self: baseline;
}
.asc {
  -webkit-align-self: center;
      -ms-flex-item-align: center;
          align-self: center;
}
.asfs {
  -webkit-align-self: flex-start;
      -ms-flex-item-align: start;
          align-self: flex-start;
}
.asfe {
  -webkit-align-self: flex-end;
      -ms-flex-item-align: end;
          align-self: flex-end;
}
.acfs {
  -webkit-align-content: flex-start;
      -ms-flex-line-pack: start;
          align-content: flex-start;
}
.acfe {
  -webkit-align-content: flex-end;
      -ms-flex-line-pack: end;
          align-content: flex-end;
}
.acc {
  -webkit-align-content: center;
      -ms-flex-line-pack: center;
          align-content: center;
}
.acsb {
  -webkit-align-content: space-between;
      -ms-flex-line-pack: justify;
          align-content: space-between;
}
.acsa {
  -webkit-align-content: space-around;
      -ms-flex-line-pack: distribute;
          align-content: space-around;
}
.acs {
  -webkit-align-content: stretch;
      -ms-flex-line-pack: stretch;
          align-content: stretch;
}
.fxa {
  -webkit-box-flex: 1;
  -webkit-flex: auto;
      -ms-flex: auto;
          flex: auto;
}
.fxn {
  -webkit-box-flex: 0;
  -webkit-flex: none;
      -ms-flex: none;
          flex: none;
}
.fx1 {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
}
.fx2 {
  -webkit-box-flex: 2;
  -webkit-flex: 2;
      -ms-flex: 2;
          flex: 2;
}
.fx3 {
  -webkit-box-flex: 3;
  -webkit-flex: 3;
      -ms-flex: 3;
          flex: 3;
}
.fx4 {
  -webkit-box-flex: 4;
  -webkit-flex: 4;
      -ms-flex: 4;
          flex: 4;
}
.fx5 {
  -webkit-box-flex: 5;
  -webkit-flex: 5;
      -ms-flex: 5;
          flex: 5;
}
.fx6 {
  -webkit-box-flex: 6;
  -webkit-flex: 6;
      -ms-flex: 6;
          flex: 6;
}
